<% I18n.locale = :en %>  

<h1>Conditions of use and privacy</h1>

<p>
To simplify the data collection procedure of your personal data for your seminar
</p>
<p class="font-weight-bold">
&ldquo;<%= @repayment.seminar.title %>&rdquo;  in Bologna on <%= l @repayment.seminar.date, format: :short %>
</p>
<p>
we ask you to accept the following:
</p>

<div class="alert alert-info">
  <p><%= icon("angle-double-right") %> I declare to be <%= @repayment.name %> <%= @repayment.surname %></strong></p>
  <p><%= icon("angle-double-right") %> In order to simplify the procedure to recive repayment / refund for my 
  <strong>seminar in Bologna on <%= l @repayment.seminar.date, format: :short %></strong> I agree to 
  to use this software and provide personal data to the Department of Mathematics of Bologna in 
  respsect of privacy Italian rules (D.Lgs. 196/2003 – D.Lgs. 101/2018).
  </p>
</div>

<p class="text-center">
  <%= link_to "I, #{@repayment.name} #{@repayment.surname}, accept the conditions and want to proceed", edit_speaker_repayment_path(@repayment.spkr_token), class: 'btn btn-lg btn-primary' %> 
</p>
<p class="text-center">
  <%= link_to 'NOT ITERESTED', root_path, class: 'btn btn-lg btn-danger' %>  
</p>

