<h1>Richiesta dati al relatore</h1>

<div class="alert alert-danger">
  <p><%= dmicon('exclamation-circle') %>  Si prega di mantenere queste informazioni <strong>private</strong>.<br/>
  Il link nella mail permette infatti a chiunque di leggere e modificare i dati del relatore (resterà attivo 
  solo fino all'invio della richiesta di compenso/rimborso).</p>
</div>

<div class="">
  <p>Per richiedere al relatore <strong><%= @repayment.name %> <%= @repayment.surname %>, 
  indirizzo email: <%= mail_to @repayment.email, @repayment.email %></strong>
  di compilare i dati anagrafici (inclusi codice fiscale e coordinate bancarie)
  inviare dalla propria posta elettronica personale un messaggio simile a questi in italiano/inglese 
  (copiare e incollare facendo attenzione a non modificare il link con il codice):</p>
</div>

<div class="alert alert-info">
  <pre>
Dear <%= @repayment.name %> <%= @repayment.surname %>,

in order to recive repayment / refund for your seminar 
on <%= l @repayment.seminar.date, locale: :en, format: :short %> please visit the page

<%= link_to accept_speaker_repayment_url(@repayment.spkr_token), accept_speaker_repayment_url(@repayment.spkr_token) %>

and fill out the form.

Sincerely
  </pre>
</div>

<p>oppure in italiano</p>

<div class="alert alert-info">
  <pre>
Gentile <%= @repayment.name %> <%= @repayment.surname %>,

Per permettere il pagamento di rimborsi / compenso per il seminario 
del giorno <%= l @repayment.seminar.date %> la preghiamo di visitare la pagina web

<%= link_to accept_speaker_repayment_url(@repayment.spkr_token), accept_speaker_repayment_url(@repayment.spkr_token) %>

e compilare i campi richiesti.

Grazie e cordiali saluti
  </pre>
</div>
