<h1>Richiesta dati al relatore</h1>

<div class="m-5">
Per richiedere al relatore <strong><%= @repayment.name %> <%= @repayment.surname %>, indirizzo email: <%= mail_to @repayment.email, @repayment.email %></strong><br/>
di compilare i dati anagrafici (inclusi codice fiscale e coordinate bancarie)
attraverso un <strong>form nascosto</strong>, <br/>
inviare dalla propria posta elettronica personale il seguente
messaggio (copiare e incollare):
</div>

<div class="alert alert-info">
  <pre>
Dear <%= @repayment.name %> <%= @repayment.surname %>,

in order to recive repayment / refund for your seminar in 
Bologna on <%= l @repayment.seminar.date, locale: :en, format: :short %> please visit the page

<%= link_to accept_speaker_repayment_url(@repayment.spkr_token), accept_speaker_repayment_url(@repayment.spkr_token) %>

and fill out the form.

Sincerally
  </pre>
</div>

<p>oppure in italiano</p>

<div class="alert alert-info">
  <pre>
Gentile <%= @repayment.name %> <%= @repayment.surname %>,

Per permettere il pagamento di rimborsi / compenso per il seminario a Bologna
del giorno <%= l @repayment.seminar.date %> la preghiamo di visitare la pagina web

<%= link_to accept_speaker_repayment_url(@repayment.spkr_token), accept_speaker_repayment_url(@repayment.spkr_token) %>

e compilare i campi richiesti.

Grazie e cordiali saluti
  </pre>
</div>

<div class="alert alert-danger">
  Si prega di mantenere queste informazioni <strong>private</strong>. <br/>Il link permette infatti a chiunque di
  leggere e modificare i dati del relatore.
</div>



