<h1>Seminari periodici</h1>

<% @serials.each do |serial| %>  
  <div class="dm-card">
    <div class="dm-card-title">
      <%= serial %>
      <%= "(serie conclusa)" unless serial.active %>
      <span class="float-right">
        <%= link_to(fwicon('plus', text: "nuovo seminario"), new_serial_seminar_path(serial)) if (user_signed_in? and serial.active) %>
        <%= link_to(fwicon('home', text: 'pagina web ufficiale'), serial.link, target: "_blank") unless serial.link.blank? %> 
        <%= link_to_edit('modifica', edit_serial_path(serial.id)) if user_admin? %>
      </span>
    </div><!-- title -->
    <div class="dm-card-body">
      <strong>Organizzazione:</strong> <%= serial.committee %>
      <div class="mt-2 mx-3">
        <% if (number = serial.seminars.count) > 0 %>  
          <%= link_to fwicon('list', text: 'elenco seminari'), serial_path(serial) %> (<%= number %>) 
        <% end %>
      </div>

      <% if (next_count = serial.seminars.future.count) > 0 %>
        <%= next_count %> seminari
      <% end %>
    </div><!-- body -->
  </div><!-- card -->
<% end %>

<% if user_admin? %>
  <p><%= link_to 'nuova serie', new_serial_path, class: :button %> </p>
<% elsif user_signed_in? %>
  <p class="info">
  Per l'inserimento di una nuova serie occorre inviare una richiesta all'indirizzo <%= support_mail %>
  </p>
<% end %>

