<h1>
  <small>Seminari periodici <%= current_organization.description.upcase %></small><br/>
  <%= serial_image(@serial) %> <%= @serial %>
</h1>

<div class="centered_action">
  <% unless @serial.link.blank? %>  
    <%= link_to dmicon('home', text: 'pagina web ufficiale'), @serial.link, target: "_blank", class: 'btn btn-outline btn-outline-info' %>
  <% end %>
  <%= link_to_edit 'modifica la serie', edit_serial_path(@serial) if policy(@serial).edit? %>
</div>

<% @seminars.each do |seminar| %>
  <%= render seminar %>
<% end %>

<h2 class="my-5 centered">Seminari passati</h2>

<% @archive.each do |seminar| %>  
  <%= render seminar, short: true %>
<% end %>
