<h2 class="text-center">
  Seminari periodici <br/><%= current_organization.description.upcase %>
</h2>
<h1><%= serial_image(@serial) %> <%= @serial %></h1>

<div class="centered_action">
  <% unless @serial.link.blank? %>  
    <%= link_to dmicon('home', text: 'pagina web ufficiale'), @serial.link, target: "_blank", class: 'btn btn-outline btn-outline-primary' %>
  <% end %>
  <% if policy(@serial).edit? %>  
    <div class="my-4">
      <%= link_to_edit 'modifica la serie', edit_serial_path(@serial) %>
    </div>
  <% end %>
</div>

<% @seminars.each do |seminar| %>
  <%= render Seminar::SeminarComponent.new(seminar, current_user) %>  
<% end %>

<h2 class="my-5 centered">Seminari passati</h2>

<% @archive.each do |seminar| %>  
  <%= render Seminar::SeminarComponent.new(seminar, current_user, short: true) %>  
<% end %>
