<div class="date row">
  <div>
    <i class='far fa-calendar my-2 fa-2xl'></i>
  </div>
  <div class='fw-bold'>
    <%= @detail %>
  </div>
  <% if @conference %>  
    <div class='fw-bold'>
      <% if @conference.start_date == @conference.end_date %>  
        <%= @conference.start_date %>
      <% else %>
        <%= l @conference.start_date %><br/><%= l @conference.end_date %>
      <% end %>
    </div>
  <% else %>
    <div class='fw-bold'><%= @nday %> <%= @month %></div>
  <% end %>
</div>
