<span class="actions-button">
  <i class="fas fa-bars fa-2x <%= (@can_update_seminar || @can_update_fund) ? 'can_update' : '' %>"></i>
</span>
<div class="actions-popup" style="display: none">
  <% if ! @seminar.past? %>  
    <% if @can_update_seminar %>  
      <div><%= link_to fwdmicon('edit') + ' modifica', edit_seminar_path(@seminar) %></div>
    <% end %>
    <% if @can_update_fund %>
      <% repayment_class = (@seminar.repayment.fund ? 'fund_ok' : 'fund_missing') %>
      <div><%= link_to fwdmicon('euro-sign') + ' scelta del fondo', choose_fund_repayment_path(@seminar.repayment) %></div>
    <% end %>
      <div><%= link_to fwdmicon('google', prefix: 'fab') + 'aggiungi a Google Calendar', @seminar.google_url(seminar_url(@seminar)), target: :new %></div>
      <div><%= link_to fwdmicon('calendar-plus') + 'aggiungi a iCal', seminar_url(@seminar, format: :ics) %></div>
  <% end %>

  <%= link_to fwdmicon('print') + ' pagina stampabile', print_seminar_path(@seminar) %>

  <% if @can_destroy_seminar %>
    <div><%= link_to_delete 'elimina', seminar_path(@seminar) %></div>
  <% end %>
</div>
