<%= content_tag :div, class: css_classes(@seminar) do %>
  <div class="seminar-header">
    <%= render ClockTagComponent.new(@seminar.date) %>  
    <div class="row">
      <div class="when col-md-2">
        <%= render DayTagComponent.new(@seminar) %>  
      </div>

      <div class="col ps-lg-4">
        <div class="py-4 py-md-0">
          <div class="float-end">
            <%= render Seminar::ActionsDropdownComponent.new(@seminar, @current_user) %>  
          </div>
        </div>

        <div class="speaker">
          <%= @seminar.speaker %>
        </div>
        <div class="title">
          <% if @seminar.in_conference? %>
            <%= @seminar.title %>
          <% else %>
            <%= link_to @seminar.title, single_page_path(year: "2023", mm: "07", dd: "06", slug: "pippo123") %>
          <% end %>
        </div>
        <div class="notes">
          <%# se in una serie/ciclo ma non stiamo vedendo proprio la serie/ciclo %>
          <% if @seminar.serial_id && !@serial %>
            <div>
              nell'ambito della serie: <%= link_to @seminar.serial.to_s.upcase, serial_path(@seminar.serial_id) %>
            </div>
          <% end %>
          <% if @seminar.cycle_id && !@cycle %>
            <div>
              nel ciclo di seminari: <%= link_to @seminar.cycle.to_s.upcase, cycle_path(@seminar.cycle_id) %>
            </div>
          <% end %>
          <%= render ArgumentsTagComponent.new(@seminar) %>
        </div> <!-- notes -->
        <% if !@seminar.past? %>  
          <%= render HourTagComponent.new(@seminar) %>  
          <%= render WhereTagComponent.new(@seminar) %>
          <%= seminar_link_tag(@seminar) %>  
        <% end %>
        <div>
          <% @seminar.documents.each do |document| %>
            <%= document_tag(document) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="seminar-body">
    <div class="abstract">
      <%= @seminar.abstract %>
    </div>
  </div>

  <div class="seminar-footer">
    <hr/>
    <% if @seminar.in_conference? %>  
      <div>
        Relazione all'interno del Convegno &ldquo;<%= link_to @seminar.conference.title, @seminar.conference %>&rdquo;
      </div>
    <% else %>  
      <span class="committee">
        <%= t :organized_by %> <%= @seminar.committee %> <br/>
        <%= @seminar.project %>  
      </span>
    <% end %>
  </div>
<% end %>
