<%= content_tag :div, class: css_classes(@seminar) do %>
  <div class="seminar-header p-2">
    <div class="row">
      <div class="when col-md-3 col-xl-2">
        <%= with_seminar_link do %>
          <%= render DayTagComponent.new(@seminar) %>  
          <%= render ClockTagComponent.new(@seminar.date) %>  
        <% end %>
      </div>

      <div class="col details ps-lg-4">
        <div class="py-4 py-md-0">
          <div class="float-end">
            <%= render Seminar::ActionsDropdownComponent.new(@seminar, @current_user) %>  
          </div>
        </div>

        <%= with_seminar_link do %>
          <div class="speaker">
            <%= @seminar.speaker %>
          </div>
          <div class="title my-1">
            <%= @seminar.title %>
          </div>
        <% end %>
        <div class="notes">
          <%# se in una serie/ciclo ma non stiamo vedendo proprio la serie/ciclo %>
          <% if @seminar.serial_id && !@serial %>
            <div class="note-item">
              nell'ambito della serie: <%= link_to @seminar.serial.to_s.upcase, serial_path(@seminar.serial_id) %>
            </div>
          <% end %>
          <% if @seminar.cycle_id && !@cycle %>
            <div class="note-item">
              nel ciclo di seminari: <%= link_to @seminar.cycle.to_s.upcase, cycle_path(@seminar.cycle_id) %>
            </div>
          <% end %>
        </div> <!-- notes -->
        <% if !@seminar.past? %>  
          <div class="seminar-meta">
            <%= render HourTagComponent.new(@seminar) %>  
            <%= render WhereTagComponent.new(@seminar) %>
            <%= seminar_link_tag(@seminar) %>  
          </div>
        <% end %>
        <%= render ArgumentsTagComponent.new(@seminar) %>
        <div class="seminar-documents">
          <% @seminar.documents.each do |document| %>
            <div class="my-2">
              <%= document_tag(document) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="seminar-body">
    <div class="abstract">
      <%= with_seminar_link do %>
        <%= @seminar.abstract %>
      <% end %>
    </div>
  </div>

  <div class="seminar-footer">
    <hr/>
    <% if @seminar.in_conference? %>  
      <div>
        Relazione all'interno del Convegno &ldquo;<%= link_to @seminar.conference.title, @seminar.conference %>&rdquo;
      </div>
    <% else %>  
      <span class="committee">
        <%= t :organized_by %> <%= @seminar.committee %> <br/>
        <%= @seminar.project %>  
      </span>
    <% end %>
  </div>
<% end %>
