<div class="seminar-small-info">
  <div>
    <% if @seminar.in_conference? %>
      RELAZIONE ALL'INTERNO DEL CONVEGNO &ldquo;<%= link_to @seminar.conference, @seminar.conference %>&rdquo;
    <% else %>
      SEMINARIO DEL <%= @seminar.organization.description.upcase %> - <%= l @seminar.date, format: :long %>
    <% end %>
  </div>
  <div>
    <%= link_to @seminar do %>  
      &ldquo;<%= @seminar.title %>&rdquo;
    <% end %>
    tenuto da <%= @seminar.speaker %>
  </div>
  <div class="mt-1">
     Proponente: <%= @seminar.user %> (<%= mail_to @seminar.user.upn %>)
  </div>
  <div>
    <% if @seminar.in_conference? %>
      Comitato oragnizzatore del convegno: <%= @seminar.conference.committee %>
    <% else %>
      Organizzatore: <%= @seminar.committee %>
    <% end %>
  </div>
  <div>
    <%= @seminar.project %>
  </div>
  <% if @seminar.speaker_on_line %>  
    <div class="text-danger"><i class="fas fa-exclamation-circle"></i> Relatore non in presenza</div>
  <% else %>
    <div class="text-success">Relatore in presenza</div>
   <% end %>

  <% if @with_repayment %>  
    <div class="m-2">
      <% unless @repayment.italy.nil? %>  
        Residenza fiscale: <%= @repayment.italy ? 'Italia' : 'Estero' %><br/>
      <% end %>
      Compenso lordo percipiente: <%= euro @repayment.lordo_percipiente %><br/>
      Compenso netto percipiente: <%= euro @repayment.netto_percipiente %><br/>
      Compenso lordo ente: <%= euro @repayment.lordo_ente %><br/>
      <% if @repayment.refund %>  
        Rimborsi: 
        <%= t :expected_refund %> <%= euro @repayment.expected_refund %>
      <% end %>
    </div>
  <% end %>
</div>
