<div class="text-uppercase fw-semibold mb-2">
  <% if @seminar.in_conference? %>
    RELAZIONE ALL'INTERNO DEL CONVEGNO &ldquo;<%= link_to @seminar.conference.title.upcase, @seminar.conference, class: "text-decoration-none text-dark" %>&rdquo;
  <% else %>
    SEMINARIO DEL <%= @seminar.organization.description.upcase %> - <%= l @seminar.date, format: :long %>
<% end %>
</div>
<div class="d-flex flex-wrap align-items-baseline gap-2 mb-3">
  <span class="fs-5 fw-semibold lh-sm">
    <%= link_to @seminar, class: "text-decoration-none text-dark" do %>
      &ldquo;<%= @seminar.title %>&rdquo;
    <% end %>
  </span>
  <span class="">
    tenuto da <%= @seminar.speaker %>
  </span>
</div>
<div class="border-top pt-3">
  <div class="row g-1 mb-2">
    <div class="col-md-4 small text-uppercase  fw-semibold">Proponente</div>
    <div class="col-md-8"><%= @seminar.user %> (<%= mail_to @seminar.user.upn %>)</div>
  </div>
  <div class="row g-1 mb-2">
    <div class="col-md-4 small text-uppercase  fw-semibold">
      <% if @seminar.in_conference? %>
        Comitato oragnizzatore del convegno
      <% else %>
        Organizzatore
      <% end %>
    </div>
    <div class="col-md-8">
      <% if @seminar.in_conference? %>
        <%= @seminar.conference.committee %>
      <% else %>
        <%= @seminar.committee %>
      <% end %>
    </div>
  </div>
  <div class="row g-1">
    <div class="col-md-4 small text-uppercase  fw-semibold">Progetto</div>
    <div class="col-md-8"><%= @seminar.project %></div>
  </div>
</div>
<% if @seminar.speaker_on_line %>  
  <div class="d-inline-flex align-items-center gap-2 px-3 py-2 mt-3 rounded-pill small fw-semibold bg-warning text-dark"><i class="fas fa-exclamation-circle"></i> Relatore non in presenza</div>
<% else %>
  <div class="d-inline-flex align-items-center px-3 py-2 mt-3 rounded-pill small fw-semibold bg-success text-white">Relatore in presenza</div>
<% end %>

<% if @with_repayment %>  
  <div class="border rounded-3 bg-white p-3 mt-3">
    <% unless @repayment.italy.nil? %>  
      <div class="row g-1 mb-2">
        <div class="col-md-4 small text-uppercase  fw-semibold">Residenza fiscale</div>
        <div class="col-md-8"><%= @repayment.italy ? 'Italia' : 'Estero' %></div>
      </div>
    <% end %>
    <div class="row g-1 mb-2">
      <div class="col-md-4 small text-uppercase  fw-semibold">Compenso lordo percipiente</div>
      <div class="col-md-8"><%= euro @repayment.lordo_percipiente %></div>
    </div>
    <div class="row g-1 mb-2">
      <div class="col-md-4 small text-uppercase  fw-semibold">Compenso netto percipiente</div>
      <div class="col-md-8"><%= euro @repayment.netto_percipiente %></div>
    </div>
    <div class="row g-1 mb-2">
      <div class="col-md-4 small text-uppercase  fw-semibold">Compenso lordo ente</div>
      <div class="col-md-8"><%= euro @repayment.lordo_ente %></div>
    </div>
    <% if @repayment.refund %>  
      <div class="row g-1">
        <div class="col-md-4 small text-uppercase  fw-semibold">Rimborsi</div>
        <div class="col-md-8"><%= t :expected_refund %> <%= euro @repayment.expected_refund %></div>
      </div>
    <% end %>
  </div>
<% end %>
