<% short ||= false %>  
<% past = conference.past? %>  

<%= content_tag :div, class: 'conference' do %>

  <div class="seminar-header">
    <%= clock_tag(conference.start_date) %>  
    <div class="row">
      <div class="when col-md-2">
        <%= day_tag conference.start_date %>  
      </div> <!-- when -->

      <div class="col">
        <div class="float-end">
        </div>

        <div class="title">
          <div>Conference</div>
          <div><%= link_to conference.title, conference %></div>
          <div class="small"><%= conference.start_date %>  - <%= conference.end_date %>  </div>
        </div>
      </div><!-- what -->
    </div> <!-- row -->
  </div> <!-- header -->

  <div class="seminar-body">
    <div class="abstract">
      <%= conference.abstract %>
    </div>
  </div>

  <div class="seminar-footer">
    <span class="committee">
      <hr/>
      <%= t :organized_by %> <%= conference.committee %> 
    </span>

  </div><!-- footer -->
<% end %>

