<h1>Elenco seminari del convegno <br/><small>&ldquo;<%= @conference.to_s.upcase %>&rdquo;</small></h1>

<% if policy(@conference).update? %>  
  <div class="centered my-2">
    <%= link_to dmicon('edit', text: 'modifica il convegno'), edit_conference_path(@conference), class: :button %> 
    <%= link_to dmicon('plus', text: 'aggiungi seminario al convegno'), new_conference_seminar_path(@conference), class: :button %>  
  </div>
<% end %>

<div class="alert alert-info p-4 py-2" style="font-size: 120%">
  <% unless @conference.abstract.blank? %>  
    <div>
      <%= @conference.abstract %>
    </div> 
  <% end %>
  <div class="mt-2">
    <%= link_to 'Detailed program', @conference.url, class: 'btn btn-primary', target: :new %>
  </div>
</div>

<% @seminars.each do |seminar| %>  
  <%= render seminar %>  
<% end %>


