<h1>Convegno <br/><small>&ldquo;<%= @conference.to_s.upcase %>&rdquo;</small></h1>

<div class="alert p-4 py-2" style="font-size: 120%">
  <% unless @conference.abstract.blank? %>  
    <div class="text-justify font-italic">
      <%= @conference.abstract %>
    </div> 
  <% end %>
  <div>
    <span class="committee">
      <%= t :organized_by %> <%= @conference.committee %> <br/>
    </span>
  </div>
  <div class="mt-2">
    <%= link_to 'Detailed program', @conference.url, target: :new %>
  </div>
</div>

<% if policy(@conference).update? %>  
  <div class="centered my-2">
    <%= link_to dmicon('edit', text: 'modifica il convegno'), edit_conference_path(@conference), class: :button %> 
    <%= link_to dmicon('plus', text: 'aggiungi seminario al convegno'), new_conference_seminar_path(@conference), class: :button %>  
  </div>
<% end %>

<h2>Elenco seminari</h2>
<% @seminars.each do |seminar| %>  
  <%= render Seminar::SeminarComponent.new(seminar, current_user) %>  
<% end %>


