<%= render @seminar %>  

<h2>Iscrizioni</h2>

<div class="list-group my-3">
  <% @registrations.each do |registration| %>  
    <% unibo_user = registration.user %>  
    <div class="list-group-item">
      <%= unibo_user ? unibo_user.name : registration.name %>  
      <%= unibo_user ? unibo_user.surname : registration.surname %>  
      <%= unibo_user ? 'UNIBO' : registration.affiliation %>  
      (<%= unibo_user ? unibo_user.upn : registration.email %>) 
    </div>
  <% end %>
</div>

<h3>Elenco delle email fornite</h3>

<div class="my-3"><%= @registrations.map(&:email).join(',') %> </div>

<h2>Testo della mail</h2>

<pre style="font-size: 16px; background-color: #eee; padding: 10px">
Buongiorno,

  il giorno <%= l @seminar.date, format: :seminar %>, <%= @seminar.speaker %>
terrà un seminario organizzato da <%= @seminar.committee %> dal titolo

<%= @seminar.title %>

Per seguire il seminario online potrete accedere al seguente indirizzo

<%= link_to @url, @url %>  
</pre>


