<h1>Registrazione</h1>

<div class="alert alert-info">
  <%= dmicon('info-circle') %>  
  È possibile registrarsi al seminario <%= @seminar.title %> in modo da ricevere prima dell'inizio del seminario 
  l'indirizzo a cui collegarsi.
</div>

<%= dm_form_for [@seminar, @registration] do |r| %>  
  <% if current_user %>  
    ???
  <% else %>
    <%= r.input :email %>  
    <%= r.input :name %>  
    <%= r.input :surname %>  
    <%= r.input :affiliation %>  
  <% end %>
   <%= r.submit %>  
<% end %>


