<h2>Cicli di seminari</h2>

<% @cycles.each do |cycle| %>  
  <div class="dm-card">
    <div class="dm-card-header"><%= link_to cycle.to_s.upcase, cycle_path(cycle) %></div>
    <div class="dm-card-body">
      <ul>
        <% cycle.seminars.each do |seminar| %>  
          <li><%= l seminar.date, format: :seminar %> <strong><%= seminar %></strong> (<%= seminar.speaker %>)</li>
        <% end %>
      </ul>
    </div>
    <% if user_owns?(cycle) %>  
    <div class="dm-card-footer">
      <%= link_to icon('edit'), edit_cycle_path(cycle) %>  
      <%= link_to icon('plus'), new_cycle_seminar_path(cycle) %>  
    </div>
  <% end %>
  </div>
<% end %>
