<h1>Elenco seminari del ciclo di seminari <br/><small>&ldquo;<%= @cycle.to_s.upcase %>&rdquo;</small></h1>

<% unless @cycle.description.blank? %>  
  <div class="alert alert-info">
    <%= @cycle.description %>
  </div> 
<% end %>

<% if policy(@cycle).update? %>  
  <div class="text-center">
    <%= link_to dm_icon('edit', text: 'modifica il ciclo'), edit_cycle_path(@cycle), class: :button %> 
    <%= link_to dm_icon('plus', text: 'aggiungi un seminario al ciclo'), new_cycle_seminar_path(@cycle), class: :button %>  
  </div>
<% end %>

<% @seminars.each do |seminar| %>  
  <%= render Seminar::SeminarComponent.new(seminar, current_user) %>  
<% end %>
