<h1>Elenco seminari del ciclo di seminari <br/><small>&ldquo;<%= @cycle.to_s.upcase %>&rdquo;</small></h1>

<% unless @cycle.description.blank? %>  
  <div class="alert alert-info">
    <%= @cycle.description %>
  </div> 
<% end %>

<% @seminars.each do |seminar| %>  
  <%= render seminar %>  
<% end %>

<% if policy(@cycle).update? %>  
  <%= link_to dmicon('edit', text: 'modifica il ciclo'), edit_cycle_path(@cycle), class: :button %> 
  <%= link_to dmicon('plus', text: 'aggiungi seminario al ciclo'), new_cycle_seminar_path(@cycle), class: :button %>  
<% end %>

