<h1>Elenco seminari del ciclo ``<%= @cycle %>''</h1>

<div class="well"><%= @cycle.description %></div> 

<% @seminars.each do |seminar| %>  
  <%= render seminar %>  
<% end %>

<% if user_owns?(@cycle) %>  
  <%= link_to icon('edit', text: 'modifica il ciclo'), edit_cycle_path(@cycle), class: :button %> 
  <%= link_to icon('plus', text: 'aggiungi seminario al ciclo'), new_cycle_seminar_path(@cycle), class: :button %>  
<% end %>

