<%= content_tag :div, class: "conference" do %>
  <div class="seminar-header">
    <%= render ClockTagComponent.new(@conference.start_date) %>  
    <div class="row">
      <div class="when col-md-2">
        <%= render DayTagComponent.new(@conference) %>  
      </div> <!-- when -->

      <div class="col">
        <div class="title">
          <div>Conference</div>
          <div>
            <% if @conference_policy.update? %>  
              <%= link_to @conference.title, @conference %>
            <% else %>
              <%= link_to @conference.title, @conference.url %>
            <% end %>
          </div>
          <div class="small"><%= @conference.start_date %> - <%= @conference.end_date %></div>
        </div>
      </div>
    </div> 
  </div> 

  <div class="seminar-body">
    <div class="abstract">
      <%= @conference.abstract %>
    </div>
  </div>

  <div class="seminar-footer">
    <span class="committee">
      <hr/>
      <%= t :organized_by %> <%= @conference.committee %> 
    </span>
  </div>
<% end %>
