<%= dm_card title: "Coordinate Bancarie <small>(dati non bloccanti)</small> #{checked_icon(true)}".html_safe do %>
  <dl class="inline">
    <dt>Iban</dt><dd><%= repayment.iban %></dd>
    <dt>Swift</dt><dd><%= repayment.swift %></dd>
    <dt>Aba</dt><dd><%= repayment.aba %></dd>
    <% unless repayment.italy %>
      <dt><%= t :bank_name %></dt><dd><%= repayment.bank_name %></dd>
      <dt><%= t :bank_address %></dt><dd><%= repayment.bank_address %></dd> 
    <% end %>
    <% if user_can_edit %>
      <dd><%= modal_link_to 'Modifica', edit_repayment_path(repayment, what: :bank), addclass: :button %></dd>
    <% end %>
  </dl>
  <% unless repayment.italy %>
    <p class="small">Nome della banca e indirizzo sono richiesti solo in caso di residenza extra UE.</p>
  <% end %>
<% end %>


