<div class="dm-card">
  <div class="dm-card-title">
    Coordinate bancarie
  </div>
  <div class="dm-card-body">
    <% if policy(repayment.object.seminar).edit? %>  
      <%= repayment.input :iban %>
      <%= repayment.input :swift %>
      <%= repayment.input :aba %>
      <hr/>
      <div class="alert alert-warning"><strong>Bank name</strong> and <strong>address</strong> are required only for extra UE.</div>
      <%= repayment.input :bank_name %>
      <%= repayment.input :bank_address %>
    <% end %>
  </div>
</div>


