<p class="alert alert-warning">
  <%= big_icon("hand-point-right") %>  <%= repayment_days_warning  %>
</p>

<%= horizontal_form_for [@seminar, @repayment] do |repayment| %>  
  <%= repayment.dm_error_notification %>  

  <%= render('fund_form', repayment: repayment) if @what == 'fund' %>  
  <%= render('speaker_reason', repayment: repayment) if @what == 'reason' %>  
  <% if @what == 'speaker' %>  
      <%= render('speaker_anagrafica', repayment: repayment) %>  
      <%= render('speaker_address', repayment: repayment) %>  
    <%= render('speaker_role', repayment: repayment) %>  
  <% end %>

  <% if @what == 'compensation' %>  
      <%= render('payment_form', repayment: repayment) %>
      <%= render('refund_form', repayment: repayment) %>
  <% end %>
  <%= repayment.submit 'Salva' %> 
<% end %>

