<%# I's a modal popup and shows one part of the form one at a time with @what %>

<div class="alert alert-warning">
  <%= dm_icon("hand-point-right", size: "xl") %> <%= repayment_days_warning(@repayment.seminar) %>
</div>

<%= simple_form_for @repayment, html: {data: {turbo: false}} do |repayment| %>  
  <%= repayment.dm_error_notification %>  
  <input type="hidden" name="what" value="<%= @what %>">  

  <%= render('speaker_reason_form', repayment: repayment) if @what == 'reason' %>  
  <%= render('seminar_reason_form', repayment: repayment) if @what == 'seminar_reason' %>  
  <%= render('fund_form', repayment: repayment) if @what == 'fund' %>  

  <% if @what == 'compensation' %>  
    <%= render('dates_form', repayment: repayment) unless @repayment.seminar.speaker_on_line %>
    <%= render('payment_form', repayment: repayment) %>
    <%= render('refund_form', repayment: repayment) unless @repayment.seminar.speaker_on_line %>
  <% end %>

  <% if @what == 'speaker' %>  
    <%= render('speaker_anagrafica_form', repayment: repayment) %>  
    <%= render('speaker_address_form', repayment: repayment) %>  
    <%= render('speaker_role_form', repayment: repayment) %>  
  <% end %>

  <%= render('bank_form', repayment: repayment) if @what == 'bank' %>  
  <%= repayment.submit 'Salva' %> - <%= link_to_back repayment_path(repayment.object) %>  
<% end %>

