<%= dm_card title: checked_title(repayment, :fund) do %>
  <dl class="inline">
    <dt>Titolare del fondo</dt>
    <dd><%= attribute_to_s repayment.holder.to_s %></dd>
    <dt>Fondo</dt>
    <dd><%= repayment.fund or "Fondo ancora da stabilire".html_safe %></dd>
    <% if current_organization && policy(current_organization).manage? %>  
      <dt>Numero vincolo di costo</dt>
      <dd><%= repayment.bond_year %>/<%= repayment.bond_number %></dd>
    <% end %>
  </dl> 
  <% if user_can_edit %>  
    <div class="text-end">
      <%= link_to 'Modifica', edit_repayment_path(repayment, what: :fund), class: :button, data: {turbo_frame: :modal} %>
    </div>
  <% elsif policy(repayment).choose_fund? %>  
    <div class="text-end">
      <%= link_to 'Scelta del fondo', choose_fund_repayment_path(repayment), class: :button %>
    </div>
  <% end %>
<% end %>
