<div class="dm-card">
  <div class="dm-card-title">
    Fondo <%= checked_icon(repayment_holder_ok?(repayment.object)) %>
  </div>
  <div class="dm-card-body">
    <% if policy(repayment.object.seminar).edit? %>  
      <%= repayment.association :holder, collection: Fund.holders2, label_method: :cn_militar, include_blank: true, hint: repayment_days_warning(repayment.object.seminar) %>
    <% end %>

    <% if policy(repayment.object).update_fund? %>  
      <% if user_is_manager? %>  
        <%= repayment.association :fund, collection: @funds, label_method: :to_s_with_holder, include_blank: false %>
      <% else %>
        <%= repayment.association :fund, collection: @funds, label_method: :to_s, include_blank: false %>
      <% end %>
    <% end %>

    <% if user_is_manager? %>  
      <%= repayment.input :bond_number %>
      <% year = Date.today.year %>  
      <%= repayment.input :bond_year, collection: [year -1 , year] %>
    <% end %>
  </div>
</div>

