<div class="dm-card">
  <div class="dm-card-title">
    Compenso onnicomprensivo
  </div>
  <div class="dm-card-body">
    <div class="info">
      Il <strong>compenso massimo</strong> erogabile a conferenzieri con <strong>residenza fiscale in Italia</strong> è pari a 500 &euro; lordo percipiente (400 &euro; nette; 542,50 &euro; lordo ente).<br/>
      In caso di seminari <strong>on line</strong> il compenso massimo erogabile è pari a 200 &euro; 
    </div>

    <div class="input">
      <label>Richiedo compenso</label>
      <input type="hidden" value="0" name="payment_bool">
      <input type="checkbox" value="1" name="payment_bool" id="payment_bool" <%= 'checked="checked"' if repayment.object.payment %>/>
    </div>
    <div id="payment_amount" data-irap="<%= Repayment::IRAP %>" 
                             data-irpef-italian="<%= Repayment::IRPEF_ITALIAN %>" 
                             data-irpef-foreign="<%= Repayment::IRPEF_FOREIGN %>"
                             data-adapt-net-italian-value="<%= Repayment::ADAPT_NET_ITALIAN_VALUE %>"
                             data-adapt-net-foreign-value="<%= Repayment::ADAPT_NET_FOREIGN_VALUE %>"
                             data-adapt-gross-value="<%= Repayment::ADAPT_GROSS_VALUE %>">

      <%= repayment.input :payment, hint: t(:payment_hint), as: :currency_float %>
      <%= repayment.input :gross, as: :radio_buttons, collection: [['Lordo ente', true], ['Compenso netto', false]], label: "" %>  
      <div class="col-sm-9 offset-sm-3">
        <div class="alert" id="payment_summary"></div>
      </div>
    </div>
  </div>
</div>

