<div class="dm-card">
  <div class="dm-card-title">
    Compenso onnicomprensivo (<%= repayment.object.italy ? 'per residenti in Italia' : 'per non residenti in Italia' %>)
  </div>
  <div class="dm-card-body">
      <p class="info">
      Il <strong>compenso massimo</strong> erogabile a conferenzieri con residenza fiscale in Italia è pari 
      a 500 &euro; lordo percipiente (400 &euro; nette; 542,50 &euro; lordo ente).
      </p>

    <div class="input">
      <label>Richiedo compenso</label>
      <input type="checkbox" name="payment_bool" id="payment_bool" <%= 'checked="checked"' if repayment.object.payment %>/>
    </div>
    <div id="payment_amount">
      <%= repayment.input :payment, hint: t(:payment_hint), as: :currency_float %>
      <%= repayment.input :gross, as: :radio_buttons, collection: [['Lordo ente', true], ['Compenso netto', false]], label: "" %>  
      <div class=row">
        <div class="col-sm-9 col-sm-offset-3">
          <div id="payment_summary"></div>
        </div>
      </div>  
    </div>
  </div>
</div>

<%= javascript_tag do %>  
  $(function(){
    $("#payment_amount").visibility_from("#payment_bool");

  function show_lordo_percipiente() {
    // italy   = $("#repayment_italy").is(':checked');
    italy   = <%= repayment.object.italy ? 'true' : 'false' %>
    gross   = $("#repayment_gross_true").is(':checked'); 
    payment = $("#repayment_payment").val();

    gross_result = 0;
    net_result   = 0;
    irap         = <%= Repayment::IRAP %>; 
    irpef        = italy ? <%= Repayment::IRPEF_ITALAN %> : <%= Repayment::IRPEF_FOREIGN %>; 
    adapt_net    = italy ? <%= Repayment::ADAPT_NET_ITALIAN_VALUE %> : <%= Repayment::ADAPT_NET_FOREIGN_VALUE %>;

    if (gross) {
      gross_result = payment;
      net_result   = payment * <%= Repayment::ADAPT_GROSS_VALUE %> * (1 - irpef);  
    } else {
      net_result   = payment;
      gross_result = payment * adapt_net * (1 + irap);
    }
    $("#payment_summary").html("<strong>Lordo ente:</strong> " + roundToTwo(gross_result) + " &euro;<br/>" +
    "<strong>Netto:</strong> " + roundToTwo(net_result) + " &euro;"); 
  };

  show_lordo_percipiente();

  // $("#repayment_italy").change(function() { show_lordo_percipiente(); });
  $("#repayment_payment").change(function() { show_lordo_percipiente(); });
  $("div.repayment_gross").change(function() { show_lordo_percipiente(); });
  });
<% end %>

