<h1>Richiesta rimborso / compenso</h1>

<p class="alert alert-info">
  <strong>Eccezionali ragioni di particolare qualificazione:</strong> 
  <em><%= repayment.reason %></em>
</p>

<% if @repayment.missing_payment_and_refund? %>  
  <p class="alert alert-danger">
  <%= icon('exclamation-triangle') %>  Si prega di inserire il compenso o il rimborso.
  </p>
<% end %>

<div>
  <table class="table table-striped table-sm">
    <tr>
      <th>Fondo</th>
      <td>Richiedente</td>
      <td><%= repayment.seminar.user %> </td>
    </th>
    <tr>
      <th></th>
      <td>Titolare del fondo</td>
      <td><%= repayment.holder %> </td>
    </th>
    <tr>
      <th></th>
      <td>Fondo</td>
      <td>
        <%= repayment.fund or "Fondo ancora da stabilire" %> 
        <% if user_can_choose_fund?(@repayment) %>  
          - <%= link_to 'cambia', choose_fund_repayment_path(@repayment) %>  
        <% end %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>Numero vincolo di costo</td>
      <td><%= repayment.bond_year %>/<%= repayment.bond_number %></td>
    </th>

    <tr>
      <th>Compensi</th>
      <td>Compenso lordo percipiente</td>
      <td><%= euro repayment.lordo_percipiente %></td>
    </tr>
    <tr>
      <th></th>
      <td>Compenso netto percipiente</td>
      <td><%= euro repayment.netto_percipiente %></td>
    </th>
    <tr>
      <th></th>
      <td>Compenso lordo ente</td>
      <td><%= euro repayment.lordo_ente %></td>
    </th>

    <% if repayment.refund %>  
    <tr>
      <th>Rimborsi</th>
      <td><%= t :speaker_arrival %></td>
      <td><%= l(repayment.speaker_arrival) if repayment.speaker_arrival %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= t :speaker_departure %></td>
      <td><%= l(repayment.speaker_departure) if repayment.speaker_departure %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= t :expected_refund %></td>
      <td><%= euro repayment.expected_refund %></td> 
    </tr>
  <% end %>

    <tr>
      <th>Dettagli</th>
      <td>Relatore</td>
      <td><%= repayment.speaker_with_title %></td>
    </tr>
      <th></th>
      <td>C.V.</td>
      <td>
        <% repayment.documents.each do |doc| %>
          <%= link_to_cv doc %>
        <% end %>
      </td>
    </tr>
    <% for m in [:email, :affiliation, :position_to_s, :address, :postalcode, :city, :country, :birth_date, :birth_place, :birth_country] do %>  
      <tr>
        <th></th>
        <td><%= t m %> </td>
        <td><%= true_false_to_s repayment.send(m) %>
      </tr>
    <% end %>
  </table>

</div>

