<div class="seminar-small-info">
  <%= l seminar.date %> <br/>
  SEMINARIO DEL <%= seminar.organization.description.upcase %><br/>
  <%= seminar.speaker %> - <%= seminar.title %><br/>
  <%= t :organized_by %> <%= seminar.committee %> <br/>
  <%= seminar.project %>  
</div>


