<p class="seminar-small-info">
  <%= l seminar.date %> <br/>
  <%= seminar.speaker %> - <%= seminar.title %><br/>
  <%= t :organized_by %> <%= seminar.committee %> <br/>
  <%= seminar.project %>  
</p>


