<div class="seminar-small-info">
  Seminario del <%= seminar.organization.description %><br/>
  <%= t :organized_by %> <%= seminar.committee %> <br/>
  <%= l seminar.date %> <br/>
  <%= seminar.speaker %> - <%= seminar.title %><br/>
  <%= seminar.project %>  
</div>


