<% seminar = repayment.object.seminar %>  

<div class="dm-card">
  <div class="dm-card-title">
    Ruolo di <%= seminar.speaker_title %> <%= seminar.speaker %> <%= checked_icon(repayment_speaker_role_ok?(repayment.object)) %>
  </div>
  <div class="dm-card-body">
    <%= repayment.input :affiliation %>
    <%= repayment.association :position, hint: "Qualifica e/o attività del relatore" %>
    <%= repayment.input :role, hint: "Dettagli sulla qualifica e/o attività del relatore. Obbligatorio nel caso abbiate scelto Altro come ruolo." %>
    <%= repayment.input :email %>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    $("#repayment_position_id").change(function() { 
      if ($("#repayment_position_id").val() == 8) {
        console.log($("#repayment_position_id").val());
        alert("Ricorda di completare il campo successivo fornendo la descrizione della qualifica e/o attività del relatore");
      }
    });
  });
<% end %>

