<%= dm_card title: checked_title(repayment, :reason) do %>  
  <% if repayment.reason.blank? %>  
    <p class="alert alert-warning"><%= t :reason_long_version %>.</p>
  <% else %>
    <p><em><%= attribute_to_s repayment.reason %></em></p>
  <% end %>
  <dl class="inline">
    <dt>Curriclum vitae:</dt>
    <dd>
    <% cvs = repayment.curricula_vitae.all %>  
    <%= "è necessario inserire il CV del relatore" if cvs.empty? %>  
    <% cvs.each do |doc| %> <%= link_to_cv doc %> <% end %>
    </dd>
    <% if policy(repayment).edit? %>  
      <dd><%= modal_link_to('Modifica', edit_repayment_path(repayment, what: :reason ), addclass: :button) %></dd>
    <% end %>
  </dl>
<% end %>
