<% seminar = repayment.object.seminar %>  

<div class="dm-card" data-controller="speaker">
  <div class="dm-card-title">
    Ruolo di <%= seminar.speaker_title %> <%= seminar.speaker %>   
  <span class="float-end"><%= checked_icon(repayment_speaker_role_ok?(repayment.object)) %></span>
  </div>
  <div class="dm-card-body">
    <%= repayment.input :affiliation %>
    <%= repayment.association :position, hint: "Qualifica e/o attività del relatore", input_html: { 'data-speaker-target': 'positionInput' } %>
    <%= repayment.input :role, hint: "Dettagli opzionali sulla qualifica e/o attività del relatore. Obbligatorio nel caso abbiate scelto \"altro\" come ruolo." %>
    <%= repayment.input :email %>
  </div>
</div>
