<% seminar = repayment.object.seminar %>  
<div class="dm-card">
  <div class="dm-card-title">
    Dati anagrafici <%= seminar.speaker_title %> <%= seminar.speaker %> <span class="float-right"><%= checked_icon(repayment.object.speaker_anagrafica_ok?) %></span>
  </div>
  <div class="dm-card-body">
    <%= repayment.input :name %>
    <%= repayment.input :surname %>
    <%= repayment.input :birth_date %>
    <%= repayment.input :birth_place %>
    <%= repayment.input :birth_country, as: :string %>
  </div>
</div>


