<%= render 'seminar_brief', seminar: @repayment.seminar  %>  

<% if @too_late_for_repayment %>  
  <p class="alert alert-danger">
  Non è più possibile approvare la richiesta di compenso / rimborso.<br/>
  <%= repayment_days_warning %> 
  </p> 
<% else %>
  <%= dm_form_for @repayment, url: fund_repayment_path(@repayment), method: :post, title: "Scelta del Fondo" do |repayment| %>  
    <% if user_is_manager? %>  
      <%= repayment.association :fund, collection: @funds, label_method: :to_s_with_holder, include_blank: false %>
    <% else %>
      <%= repayment.association :fund, collection: @funds, label_method: :to_s, include_blank: false %>
    <% end %>

    <% if user_owns?(@repayment.seminar) %>  
      <%= repayment.submit "Salva e invia richiesta" %>
    <% else %>
      <%= repayment.submit "Salva e approva" %>
    <% end %>
    - <%= link_to 'indietro', repayment_path(@repayment) %>   
  <% end %>

  <%= render @repayment %>  
<% end %>

