<h1>Richieste di compenso</h1>

<ul class="pagination justify-content-center">
  <% (2014..(Date.today + 2.months).year).each do |year| %>  
    <li class="page-item <%= 'active' if (@year == year) %>"><%= link_to year, repayments_path(year: year), class: "page-link" %></li>
  <% end %>
</ul>

<div class="list-group">
  <% @repayments.each do |repayment| %>  
    <%= link_to repayment_path(repayment), class: status_class(repayment) do %>
      <span class="font-weight-bold mr-3"><%= l(repayment.seminar.date, format: :date) %></span> 
      <%= repayment.seminar.speaker %>
      <% if repayment.taxid %>
        <small>(<%= repayment.taxid %>)</small>
      <% end %>
      <span class="float-end"><small>
      richiedente <%= repayment.seminar.user %> -  
      <% if repayment.complete? %>  
        UGOV <%= repayment.ugov %>
      <% elsif repayment.notified %>  
        <% if (fund = repayment.fund) %>
          <%= fund %>
        <% else %>
          <span class="text-danger">Fondo non ancora selezionato</span>
        <% end %>
      <% else %>
        richiesta non inviata
      <% end %>
      </small></span>
    <% end %>
  <% end %>
</div>

<div class="my-3 centered">
  <%= link_to "Estrai excel", repayments_path(year: @year, format: :csv), class: :button %>
  <%= link_to "Decreto massivo", massive_decree_form_repayments_path(year: @year), class: :button %>
</div>
