<h1>Richieste di compenso</h1>

<ul class="pagination justify-content-center">
  <% (2014..Date.today.year).each do |year| %>  
    <li class="page-item <%= 'active' if (@year == year) %>"><%= link_to year, repayments_path(year: year), class: "page-link" %></li>
  <% end %>
</ul>

<div class="list-group">
  <% @repayments.each do |repayment| %>  
    <%= link_to repayment_path(repayment), class: "list-group-item list-group-item-action" do %>
      <span class="font-weight-bold mr-3"><%= l(repayment.seminar.date, format: :date) %></span> 
      <%= repayment.seminar.speaker %>
      <span class="float-right"><small>
      <% if repayment.notified %>  
        <%= repayment.fund %>
      <% else %>
        richiesta non inviata
      <% end %>
      </small></span>
    <% end %>
  <% end %>
</div>
