<% user_can_edit = policy(@repayment).edit? %>  
<% ok_to_send    = repayment_all_ok_to_send?(@repayment) %>  

<h1>Richiesta di rimborso / compenso <br/>
  <small>seminario di <%= @repayment.seminar.speaker %> 
         <small>(<%= l @repayment.seminar.date %> - richiedente: <%= @repayment.seminar.user.to_s %>)</small>
  </small>
</h1>

<%= render partial: 'print_operations', locals: { repayment: @repayment, ok_to_send: ok_to_send } %>  

<div class="row">
  <div class="col-lg-7">
    <%= dm_card title: checked_title(@repayment, :reason) do %>  
      <% if @repayment.reason.blank? %>  
        <p class="alert alert-warning"><%= t :reason_long_version %>.</p>
      <% else %>
        <p><em><%= attribute_to_s @repayment.reason %></em></p>
      <% end %>
      <dl class="inline">
        <dt>Curriclum vitae:</dt>
        <dd>
        <% cvs = @repayment.curricula_vitae.all %>  
        <%= "è necessario inserire il CV del relatore" if cvs.empty? %>  
        <% cvs.each do |doc| %> <%= link_to_cv doc %> <% end %>
        </dd>
      <% if user_can_edit %>  
        <dd><%= modal_link_to('Modifica', edit_repayment_path(@repayment, what: :reason ), addclass: :button) %></dd>
      <% end %>
    <% end %>

    <%= dm_card title: checked_title(@repayment, :fund) do %>
      <dl class="inline">
        <dt>Titolare del fondo</dt>
        <dd><%= attribute_to_s @repayment.holder.to_s %></dd>
        <dt>Fondo</dt>
        <dd><%= @repayment.fund or "Fondo ancora da stabilire".html_safe %></dd>
        <% if user_is_manager? %>  
          <dt>Numero vincolo di costo</dt>
          <dd><%= @repayment.bond_year %>/<%= @repayment.bond_number %></dd>
        <% end %>
        <% if user_can_edit %>  
          <dd><%= modal_link_to 'Modifica', edit_repayment_path(@repayment, what: :fund ), addclass: :button %></dd>
        <% end %>
      </dl> 
    <% end %>

    <%= dm_card title: checked_title(@repayment, :compensation) do %>
      <dl class="inline">
        <% if @repayment.payment %>  
          <dt>Residenza fiscale</dt>
          <dd><%= @repayment.italy ? 'Italia' : 'Estero' %> </dd>
        <% end %>
        <dt>Compenso lordo percipiente</dt>
        <dd><%= euro @repayment.lordo_percipiente %></dd>
        <dt>Compenso netto percipiente</dt>
        <dd><%= euro @repayment.netto_percipiente %></dd>
        <dt>Compenso lordo ente</dt><dd><%= euro @repayment.lordo_ente %></dd>

        <% if @repayment.refund %>  
          <dt>Rimborsi</dt>
          <dd><%= t :speaker_arrival %>:   <%= l(@repayment.speaker_arrival) if @repayment.speaker_arrival %></dd>
          <dd><%= t :speaker_departure %>: <%= l(@repayment.speaker_departure) if @repayment.speaker_departure %></dd>
          <dd><%= t :expected_refund %>:   <%= euro @repayment.expected_refund %></dd>
        <% end %>

        <% if user_can_edit %>  
          <dd><%= link_to 'Modifica', edit_repayment_path(@repayment, what: :compensation), class: :button %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>

  <div class="col-lg-5">
    <%= dm_card title: checked_title(@repayment, :speaker_details) do %>
      <% if user_can_edit and (! @repayment.notified) %>  
        <p style="text-align: right"><%= link_to big_icon('envelope', text: 'Testo della mail da inviare al relatore per richiedere la compilazione dei dati anagrafici e bancari.'), data_request_speaker_repayment_path(@repayment) %></p>
      <% end %>
      <dl class="inline">
        <% for m in [:name, :surname, :email, :affiliation, :position_to_s, :address, :postalcode, :city, :country, :birth_date, :birth_place, :birth_country, :taxid] do %>  
          <dt><%= t m %></dt>
          <dd><%= attribute_to_s @repayment.send(m) %></dd>
        <% end %>
        <% if user_can_edit %>  
          <dd><%= modal_link_to 'Modifica', edit_repayment_path(@repayment, what: :speaker), addclass: :button %></dd>
        <% end %>
      </dl>
    <% end %>
    <%= dm_card title: "Coordinate Bancarie <small>(dati non bloccanti)</small> #{checked_icon(true)}".html_safe do %>
      <dl class="inline">
        <dt>Iban</dt><dd><%= @repayment.iban %></dd>
        <dt>Swift</dt><dd><%= @repayment.swift %></dd>
        <dt>Aba</dt><dd><%= @repayment.aba %></dd>
        <% if user_can_edit %>
          <dd><%= modal_link_to 'Modifica', edit_repayment_path(@repayment, what: :bank), addclass: :button %></dd>
        <% end %>
      </dl>
    <% end %>

  </div>
</div>

<div style="text-align: center">
  <% if ! @repayment.notified and user_can_edit %>  
    <% button_class = ok_to_send ? 'btn-success' : 'btn-primary disabled' %>  
    <% unless ok_to_send %>  
      <div class="alert alert-warning m-3">
        Per <strong>inviare la richiesta</strong> è necessario che tutti i campi siano compilati correttamente.
      </div>
    <% end %>
    <%= link_to 'invia richiesta', notify_repayment_path(@repayment), class: "btn btn-lg #{button_class}", method: :post %>
  <% end %>
  <% if ! user_can_edit %>  
    <div class="alert alert-info">Non è possibile modificare i dati relativi al rimborso / compenso.</div>
  <% end %>
</div>


