<% user_can_edit = policy(@repayment).edit? %>  
<% ok_to_send    = repayment_all_ok_to_send?(@repayment) %>  

<h1>Richiesta di rimborso / compenso</h1>

<div class="text-muted">
  <%= link_to @repayment.seminar do %>  
    <h2>Seminario di <%= @repayment.seminar.speaker %> </h2>
  <% end %>
  Data: <%= l @repayment.seminar.date %><br/>
  Richiedente: <%= @repayment.seminar.user.to_s %><br/>
  Seminario in presenza: <%= @repayment.seminar.in_presence ? 'si' : 'no' %><br/>
  Seminario accessibile on line: <%= @repayment.seminar.on_line ? 'si' : 'no' %><br/>
  <% if @repayment.seminar.speaker_on_line %>  
    <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Relatore non in presenza</span>
  <% else %>
     Relatore in presenza
   <% end %>
</div>

<%= render partial: 'print_operations', locals: { repayment: @repayment, ok_to_send: ok_to_send } %>  

<div class="row">
  <div class="col-lg-7">
    <%= render('speaker_reason', repayment: @repayment, user_can_edit: user_can_edit) %>  
    <% if @repayment.seminar.speaker_on_line %>  
      <%= render('seminar_reason', repayment: @repayment, user_can_edit: user_can_edit) %>    
    <% end %>
    <%= render('fund', repayment: @repayment, user_can_edit: user_can_edit) %>  
    <%= render('compensation', repayment: @repayment, user_can_edit: user_can_edit) %>  
  </div>

  <div class="col-lg-5">
    <%= render('speaker', repayment: @repayment, user_can_edit: user_can_edit) %>  
    <%= render('bank', repayment: @repayment, user_can_edit: user_can_edit) %>  
  </div>
</div>

<div style="text-align: center">
  <% if ! @repayment.notified && user_can_edit %>  
    <% button_class = ok_to_send ? 'btn-success' : 'btn-primary disabled' %>
    <% unless ok_to_send %>  
      <div class="alert alert-warning m-3">
        Per <strong>inviare la richiesta</strong> è necessario che tutti i campi siano compilati correttamente.
      </div>
    <% end %>
    <%= link_to 'invia richiesta', notify_repayment_path(@repayment), class: "btn btn-lg #{button_class}", method: :post %>
    - <%= link_to 'torna al seminario', [:edit, @repayment.seminar] %>  
  <% end %>
  <% if ! user_can_edit %>  
    <div class="alert alert-info">Non è possibile modificare i dati relativi al rimborso / compenso.</div>
  <% end %>
</div>


