<% user_can_edit = policy(@repayment).edit? %>  
<% ok_to_send = repayment_all_ok_to_send?(@repayment) %>  

<h1>Richiesta di rimborso / compenso</h1>

<div class="text-muted">
  <%= render Seminar::SummaryComponent.new(@repayment.seminar) %>  
</div>

<%= render Repayment::PrintComponent.new(@repayment, current_user, ok_to_send: ok_to_send) %>  

<div class="row">
  <div class="col-lg-7">
    <%= render('speaker_reason', repayment: @repayment, user_can_edit: user_can_edit) %>  
    <% if @repayment.seminar.speaker_on_line %>  
      <%= render('seminar_reason', repayment: @repayment, user_can_edit: user_can_edit) %>    
    <% end %>
    <%= render('fund', repayment: @repayment, user_can_edit: user_can_edit) %>  
    <%= render('compensation', repayment: @repayment, user_can_edit: user_can_edit) %>  
  </div>

  <div class="col-lg-5">
    <%= render('speaker', repayment: @repayment, user_can_edit: user_can_edit) %>  
    <%= render('bank', repayment: @repayment, user_can_edit: user_can_edit) %>  
  </div>
</div>

<!-- actions -->
<div style="text-align: center">
  <% if !@repayment.notified && user_can_edit %>  
    <% if ok_to_send %>  
      <%= button_to 'Invia la richiesta', notify_repayment_path(@repayment), class: "btn btn-success btn-lg my-2", data: {turbo: false} %>
    <% else %>  
      <div class="alert alert-warning m-3">
        Per <strong>inviare la richiesta</strong> è necessario che tutti i campi siano compilati correttamente.
      </div>
    <% end %>
  <% end %>

  <% if !user_can_edit %>  
    <div class="alert alert-info">Non è più possibile modificare i dati relativi al rimborso / compenso.</div>
  <% end %>

  <% if @repayment.complete? %>
    <div class="alert alert-success">
      La pratica è stata completata con <strong>Numero Reg. DG <%=@repayment.ugov %></strong>.
    </div>
  <% elsif policy(@repayment).close? %>  
    <div class="text-center alert alert-warning">
      <div class="my-2">
        Se la pratica è stata <strong>completata</strong> (registrata in UGOV e pagata) inserire il Numero Reg. DG di UGOV.
      </div>
      <%= simple_form_for @repayment, url: [:close, @repayment] do |f| %>  
        <%= f.input :ugov %>  
        <%= f.submit "Chiudi pratica" %>  
      <% end %>
    </div>
  <% end %>

  <% if policy(@repayment).destroy? %>
    <div class="my-2">
      <%= button_to @repayment, 
            method: :delete, 
            class: "btn btn-danger",
            form: {data: {'turbo-confirm': 'Siete sicuri di voler cancellare la richiesta e tutti i dati?'}} do %>
        CANCELLA LA RICHIESTA
      <% end %>
    </div>
  <% end %>

  <div class="my-2">
    <%= link_to 'torna al seminario', [:edit, @repayment.seminar], class: "my-2" %>  
  </div>
</div>
