<% user_can_edit = policy(@repayment).edit? %>  

<h1>Richiesta rimborso / compenso</h1>

<p style="text-align: right">
  <%= link_to icon('print') + ' stampa lettera',  print_letter_repayment_path(@repayment, format: :docx),   class: 'btn btn-sm btn-outline-primary' %> -
  <%= link_to icon('print') + ' stampa decreto',  print_decree_repayment_path(@repayment, format: :docx),   class: 'btn btn-sm btn-outline-primary' %> - 
  <%= link_to icon('print') + ' stampa proposta', print_proposal_repayment_path(@repayment, format: :docx), class: 'btn btn-sm btn-outline-primary' %>  
</p>

<h3>Seminario del <%= l @seminar.date %>, Richiedente: <%= @repayment.seminar.user.to_s %></h3>

<%= dm_card title: rtitle(@repayment, :reason) do %>  
  <p>
    <em><%= @repayment.reason %></em>
  </p>
  <p>
     <strong>Curriclum vitae:</strong> 
     <% @repayment.documents.each do |doc| %> <%= link_to_cv doc %> <% end %>
  </p>
<p>
  <% if user_can_edit %>  
    <%= modal_link_to('Modifica', edit_repayment_path(@repayment, what: :reason ), addclass: :button) %>
  <% end %>
</p>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <%= dm_card title: rtitle(@repayment, :fund) do %>
      <dl class="inline">
        <dt>Titolare del fondo</dt>
        <dd><%= @repayment.holder.to_s %></dd>
        <dt>Fondo</dt>
        <dd>
        <%= @repayment.fund or "Fondo ancora da stabilire" %> 
        </dd>
        <dt>Numero vincolo di costo</dt>
        <dd><%= @repayment.bond_year %>/<%= @repayment.bond_number %></dd>
        <% if user_can_edit %>  
          <dd><%= modal_link_to 'Modifica', edit_repayment_path(@repayment, what: :fund ), addclass: :button %></dd>
        <% end %>
      </dl> 
    <% end %>

    <%= dm_card title: rtitle(@repayment, :compensation) do %>
      <dl class="inline">
        <dt>Compenso lordo percipiente</dt>
        <dd><%= euro @repayment.lordo_percipiente %></dd>
        <dt>Compenso netto percipiente</dt>
        <dd><%= euro @repayment.netto_percipiente %></dd>
        <dt>Compenso lordo ente</dt><dd><%= euro @repayment.lordo_ente %></dd>

        <% if @repayment.refund %>  
          <dt>Rimborsi</dt>
          <dd><%= t :speaker_arrival %>: <%= l(@repayment.speaker_arrival) if @repayment.speaker_arrival %></dd>
          <dd><%= t :speaker_departure %>: <%= l(@repayment.speaker_departure) if @repayment.speaker_departure %></dd>
          <dd><%= t :expected_refund %>:  <%= euro @repayment.expected_refund %></dd>
        <% end %>
        <% if user_can_edit %>  
          <dd><%= modal_link_to 'Modifica', edit_repayment_path(@repayment, what: :compensation), addclass: :button %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>

  <div class="col-lg-6">
    <%= dm_card title: rtitle(@repayment, :speaker_details) do %>
      <dl class="inline">
        <dt>Relatore</dt>
        <dd><%= @repayment.speaker_with_title %></dd>
        <% for m in [:email, :affiliation, :position_to_s, :address, :postalcode, :city, :country, :birth_date, :birth_place, :birth_country] do %>  
          <dt><%= t m %></dt>
          <dd><%= attribute_to_s @repayment.send(m) %></dd>
        <% end %>
        <% if user_can_edit %>  
          <dd><%= modal_link_to 'Modifica', edit_repayment_path(@repayment, what: :speaker), addclass: :button %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>

<div style="text-align: center">
  <% if ! @repayment.notified and policy(@repayment).edit? %>  
    <% ok = @repayment.all_ok_to_send? %>  
    <% button_class = ok ? 'btn-success' : 'btn-light disabled' %>  
    <% unless ok %>  
      <div class="alert alert-warning m-3">
        Per inviare la richiesta è necessario che tutti i campi siano compilati correttamente.
      </div>
    <% end %>
    <%= link_to 'invia richiesta', notify_repayment_path(@repayment), class: "btn btn-lg #{button_class}", method: :post %>
  <% end %>
  <% if ! user_can_edit %>  
    <div class="alert alert-info">Non è possibile mdificare i dati relativi al rimborso / compenso.</div>
  <% end %>
</div>


