<div class="row">
  <div class="col-md-6">
    <h2><%= t :organization %></h2>
    <%= render 'form' %>  
  </div>
  <div class="col-md-6">
    <h2><%= t :admins %>  </h2>
    <ul>
    <% @organization.admins.each do |admin| %>  
      <li><%= admin %> <%= link_to_delete admin_path(admin) %>  </li>
    <% end %>
    </ul>
    <%= link_to_new 'Nuovo Amministratore', new_organization_admin_path(@organization) %>  
  </div>
</div>



