<h1>Amministratori</h1>

<% Organization.find_each do |organization| %>  
  <h2 class="mt-3"><%= organization %> </h2>
  <ul class="list-group my-3">
    <% organization.authorizations.includes(:user).each do |a|%>  
      <li class="list-group-item">
        <%= a.user.cn_militar %>
        <%= a.authlevel_string %> 
        <span class="float-right"><%= link_to_delete authorization_path(a) %>  
      </li>
    <% end %>
  </ul>
  <div style="text-align: center">
    <%= link_to_new 'Nuovo utente amministratore', new_organization_authorization_path(organization) %>  
  </div>
<% end %>

