<%= dm_form_for @document, url: seminar_documents_path(@seminar), title: 'Allegati', html: { multipart: true } do |document| %>
  <div class="alert alert-info">
    Questi allegati (per esempo locandine, slides, etc.) sono <strong>pubblici</strong>. 
    Nel caso di un rimborso/compenso dovrete inserire il curriculum vitae del relatore (in questo caso visibile solo all'amministrazione) <strong>in un altro form</strong>.
  </div>
  <% if @documents.any? %>  
    <ul>
      <% @documents.each do |document| %>
        <li><%= icon('download') + "&nbsp;".html_safe + link_to(document.description, url_for(document.attach)) %> - <%= link_to_delete document_path(document) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Non sono ancora stati inseriti allegati a questo seminario.</p>
  <% end %>

  <%= document.input :description %>
  <%= document.input :attach, as: :file, class: "" %>
  <%= document.submit 'Invia' %> -
  <%= link_to 'indietro', root_path %>   
<% end %>
