<h2>Allegati</h2>

<div class="attachs">
  <% if @documents.any? %>  
    <ul>
      <% @documents.each do |document| %>
        <li><%= link_to document, rails_blob_url(document.attach, disposition: "attachment") %> - <%= link_to_delete document_path(document) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Non sono ancora stati inseriti allegati a questo seminario</p>
  <% end %>

  <%= dm_form_for @document, url: seminar_documents_path(@seminar), html: { multipart: true } do |document| %>
    <fieldset>
      <%= document.input :description %>
      <%= document.input :attach, as: :file, class: "" %>
      <%= document.submit 'Invia' %> -
      <%= link_to 'indietro', root_path %>   
    </fieldset>
  <% end %>
</div>

