<% if @conference %>  
  <div class="alert alert-info">
    <h2>Seminario per il convegno &ldquo;<%= link_to @conference.title, @conference %>&rdquo;</h2> 
    <div><%= l @conference.start_date %> - <%= l @conference.end_date %></div>
  </div>
<% end %>
<% if @cycle %>  
  <%# other except itsself (of nil in new_record) %>
  <% other_seminars_same_cycle = @cycle.seminars.where('seminars.id != ?', @seminar.id || 0).order('id desc').to_a %>  
  <div class="alert alert-info">
    <p>
    <strong>Ciclo: <%= @cycle %></strong>
    <%= link_to_edit("", edit_cycle_path(@cycle)) if policy(@cycle).edit? %>  
    <% unless @cycle.description.blank? %>  
      <br/><i><%= @cycle.description %></i>
    <% end %>
    </p>
    <% if other_seminars_same_cycle.any? %>  
      È possibile recuperare parte dei dati da uno dei seguenti seminario precedente dello stesso ciclo: <br/>
      <% @cycle.seminars.order("id desc").each do |s| %>
        <%= link_to "#{I18n.l(s.date)}", new_cycle_seminar_path(@cycle, as: s.id), class: 'btn btn-outline-primary my-1' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @serial %>  
  <h2>Seminario periodico: <%= @serial %></h2>
  <% unless @serial.description.blank? %>  
    <div class="alert alert-info"><%= @serial.description %></div>
  <% end %>
<% end %>

<%= dm_form_for @seminar, title: "Seminario del #{current_organization.description}", html: {data: {turbo: false}} do |seminar| %>  
  <%= seminar.dm_error_notification %>  
  <%= seminar.input :hidden, label: "", as: :boolean %>  
  <% if !@conference && current_organization && policy(current_organization).manage? %>  
    <%= seminar.association :cycle, collection: current_organization.cycles.order(:title) %>  
    <%= seminar.association :serial, collection: current_organization.serials.active.order(:title) %>  
    <%= seminar.association :conference, collection: current_organization.conferences.order(:title) %>  
  <% else %>
    <div style="display: none">
      <%= seminar.input :serial_id, as: :hidden %>  
      <%= seminar.input :cycle_id, as: :hidden %> 
      <%= seminar.input :conference_id, as: :hidden %>  
    </div>
  <% end %>
  <%= seminar.input :title %>  
  <% unless @conference %>  
    <%= seminar.input :date, as: :datetime_html5 %>
    <%= seminar.input :duration, collection: [30,45,60,75,90,120,180].map { |p| ["#{p} minuti", p] }, include_blank: false %>
  <% end %>
  <%= seminar.input :speaker_title, collection: User.abbr_titles, include_blank: false %>  
  <%= seminar.input :speaker %>  
  <% unless @conference %>  
    <%= seminar.input :committee %>
  <% end %>
  <%= seminar.association :arguments, collection: current_organization.arguments.order(:name), hint: I18n.t('new_arguments', reply_to: Rails.configuration.reply_to), as: :check_boxes %>
  <%= seminar.input :abstract, input_html: {cols: 50, rows: 3} %>
  <% unless @conference %>  
    <%= seminar.input :link %>
    <%= seminar.input :link_text %> 
  <% end %>
  <% if current_organization && policy(current_organization).manage? %>  
    <%= seminar.association :user, collection: User.order('surname').to_a, label_method: :cn %>  
  <% end %>

  <%= seminar.submit %> - <%= link_to 'indietro', root_path %>   
<% end %>

