<% if @cycle %>  
  <%# other except itsself (of nil in new_record) %>
  <% other_seminars_same_cycle = @cycle.seminars.where('seminars.id != ?', @seminar.id || 0).order('id desc').to_a %>  
  <div class="alert alert-info">
    <p>
    <strong>Ciclo: <%= @cycle %></strong>
    <% unless @cycle.description.blank? %>  
      <br/><i><%= @cycle.description %></i>
    <% end %>
    </p>
    <% if other_seminars_same_cycle.any? %>  
      È possibile recuperare parte dei dati da uno dei seguenti seminario precedente dello stesso ciclo: <br/>
      <% @cycle.seminars.order('id desc').each do |s| %>
        <%= link_to "#{I18n.l(s.date)}", new_cycle_seminar_path(@cycle, as: s.id), class: 'btn btn-outline-primary my-1' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @serial %>  
  <h2>Seminario periodico: <%= @serial %></h2>
  <% unless @serial.description.blank? %>  
    <div class="alert alert-info"><%= @serial.description %></div>
  <% end %>
<% end %>

<%= dm_form_for @seminar, title: "Seminario del #{current_organization.description}" do |seminar| %>  
  <%= seminar.dm_error_notification %>  
  <% if user_is_manager? %>  
    <%= seminar.association :cycle %>  
    <%= seminar.association :serial, collection: Serial.active.order(:title) %>  
  <% else %>
    <%= seminar.input :serial_id, as: :hidden %>  
    <%= seminar.input :cycle_id,  as: :hidden %>  
  <% end %>
  <%= seminar.input :title %>  
  <%= seminar.input :date, as: :datetime_picker2 %>
  <%= seminar.input :duration, collection: [30,45,60,75,90,120,180].map{ |p| ["#{p} minuti", p] }, include_blank: false %>
  <%= seminar.input :speaker_title, collection: User.abbr_titles, include_blank: false %>  
  <%= seminar.input :speaker %>  
  <%= seminar.association :place, collection: current_organization.places.all, include_blank: false %>
  <%= seminar.input :place_description, input_html: { cols: 50, rows: 2 } %>
  <%= seminar.input :committee %>
  <%= seminar.association :arguments, collection: current_organization.arguments.order(:name) %> 
  <%= seminar.input :abstract, input_html: { cols: 50, rows: 3 } %>
  <%= seminar.input :link %>
  <%= seminar.input :link_text %> 
  <% if user_is_manager? %>  
    <%= seminar.association :user, collection: User.order('surname').to_a, label_method: :cn %>  
  <% end %>

  <%= seminar.submit %> - <%= link_to 'indietro', root_path %>   
<% end %>


