<% short ||= false %>  
<div class="seminar <%= css_classes(seminar) %>">

  <div class="when">
    <%= date_tag(seminar, short) %>  
    <div class="arguments">
      <%= seminar.arguments_string %>
    </div>
    <%= started_tag(seminar) if (seminar.date.today? and !short) %>
    <div class="mto">
      <%# se in una serie ma non stiamo vedendo proprio la serie %>
      <% if seminar.serial_id and !@serial %>
        nell'ambito della serie<br/>
        <strong><%= link_to seminar.serial, serial_path(seminar.serial_id) %></strong>
      <% end %>
      <% if seminar.cycle_id and !@cycle %>
        nel ciclo di seminari<br/>
        <strong><%= link_to seminar.cycle, cycle_path(seminar.cycle_id) %></strong>
      <% end %>
    </div>
  </div> <!-- when -->

  <div class="what">
    <div class="title"><%= seminar.title %></div>
    <div class="content">
      <div class="speaker"><%= seminar.speaker %></div>
      <div class="abstract"><%= seminar.abstract unless short %></div>
      <div class="links_and_documents">
        <% if ! seminar.link.blank? %>
          <%= icon('external-link') %> <a href="<%= seminar.link %>" target="_blank"><%= seminar.link_text.blank? ? seminar.link : seminar.link_text %></a> <br/>
        <% end %>
        <% seminar.documents.each do |document| %>
          <%= icon('file-o') %> <%= link_to document, document.url %> <br/>
        <% end %>
      </div><!-- links_and_documents -->
    </div><!-- content -->
    <% if ! short %>
      <div class="footer">
        <%= where_tag(seminar) unless (seminar.past? or short) %>  
        <%= committee_tag(seminar) %>  
        <%= actions_tag(seminar) %>  
      </div><!-- footer -->
    <% end %>
  </div><!-- what -->

</div><!-- seminar -->

