<% short ||= false %>  
<div class="seminar <%= css_classes(seminar) %>">

  <div class="when">
    <div class="date">
      <%= l(seminar.date, format: (seminar.past? ? :past : :day)) %> 
      <%= "ore " + l(seminar.date, format: :hour) unless (seminar.past? or short) %>
    </div>
    <div class="where">
      <%= where_tag(seminar) unless (seminar.past? or short) %>  
    </div>
    <div class="arguments">
      <%= seminar.arguments_string %>
    </div>

    <% if (seminar.date.today? and !short) %>
      <div class="today">
        <%= big_icon('clock-o') %> 
        <span>
          <%= (seminar.date < Time.now) ? 'iniziato da ' :  'tra ' %> <%= time_ago_in_words(seminar.date) %>
        </span>
      </div>
    <% end %>

    <div class="mto">
      <%# se in una serie ma non stiamo vedendo proprio la serie %>
      <% if seminar.serial_id and !@serial %>
        nell'ambito della serie<br/>
        <strong><%= link_to seminar.serial, serial_path(seminar.serial_id) %></strong>
      <% end %>
      <% if seminar.cycle_id and !@cycle %>
        nel ciclo di seminari<br/>
        <strong><%= link_to seminar.cycle, cycle_path(seminar.cycle_id) %></strong>
      <% end %>
    </div>
  </div> <!-- when -->

  <div class="what">
    <div class="title"><%= seminar.title %></div>
    <div class="content">
      <div class="speaker"><%= seminar.speaker %></div>
      <div class="abstract"><%= seminar.abstract unless short %></div>
      <div class="links_and_documents">
        <% if ! seminar.link.blank? %>
          <%= icon('external-link') %> <a href="<%= seminar.link %>" target="_blank"><%= seminar.link_text.blank? ? seminar.link : seminar.link_text %></a> <br/>
        <% end %>
        <% seminar.documents.each do |document| %>
          <%= icon('file-o') %> <%= link_to document, document.url %> <br/>
        <% end %>
      </div><!-- links_and_documents -->
    </div><!-- content -->
    <% if ! short %>
      <div class="footer">
        <div class="committee">
          <%= t :organized_by %> <%= seminar.committee %> <br/> 
          <%= seminar.project %>  
        </div>
        <div class="calendars">
          <% if ! seminar.past? %>
            <% if user_owns?(seminar) or user_is_manager? %>
              &nbsp;
              <%= link_to_edit edit_seminar_path(seminar) %>  
              <%= link_to_delete seminar_path(seminar) %>
            <% end %>
            <% if user_is_holder?(seminar) %>
              &nbsp;
              <% repayment_class = (seminar.repayment.fund ? 'fund_ok' : 'fund_missing') %>  
              <%= link_to icon('eur'), choose_fund_repayment_path(seminar.repayment), title: 'Scelta fondo', class: repayment_class %>  
            <% end %>
            <%= link_to fwicon('google'), seminar.google_url, target: :new, title: 'aggiungi a Google Calendar' %>  
            <%= link_to fwicon('calendar'), seminar_url(seminar, format: :ics), title: 'aggiungi a iCal' %>  
          <% end %>
          <%= link_to fwicon('print'), seminar_path(seminar), title: 'pagina stampabile' %>  
        </div>
      </div><!-- footer -->
    <% end %>
  </div><!-- what -->

</div><!-- seminar -->

