<% short ||= false %>  
<%= content_tag :div, class: css_classes(seminar) do %>

  <div class="seminar-header">
    <%= clock_tag(seminar) %>  
    <div class="row">
      <div class="when col-md-2">

      <%= day_tag(seminar, short: short) %>  

      </div> <!-- when -->

      <div class="col">
        <div class="float-right">
          <%= actions_tag(seminar) %>  
        </div>

        <div class="speaker">
          <%= seminar.speaker %>
        </div>
        <div class="title"><%= seminar.title %></div>
        <div class="notes"><%= seminar.arguments_string %>
        <%# se in una serie ma non stiamo vedendo proprio la serie %>
        <% if seminar.serial_id and !@serial %>
          nell'ambito della serie<br/>
          <strong><%= link_to seminar.serial, serial_path(seminar.serial_id) %></strong>
        <% end %>
        <% if seminar.cycle_id and !@cycle %>
          nel ciclo di seminari<br/>
          <%= link_to seminar.cycle, cycle_path(seminar.cycle_id) %>
        <% end %>
        </div> <!-- notes -->
        <%= hour_tag(seminar, short: short) %>  
        <%= where_tag(seminar, short: short) %>  
        <%= seminar_link_tag(seminar) %>  
      </div><!-- what -->
    </div> <!-- row -->
  </div> <!-- header -->

  <div class="seminar-body">
    <div class="content">
      <div class="abstract"><%= seminar.abstract unless short %></div>
      <div class="links_and_documents">
        <% seminar.documents.each do |document| %>
          <%= icon('file') %> <%= link_to document, document.url %> <br/>
        <% end %>
      </div><!-- links_and_documents -->
    </div><!-- content -->
  </div><!-- body -->

  <% if ! short %>
    <div class="seminar-footer">
      <span class="committee">
        <hr/>
        <%= t :organized_by %> <%= seminar.committee %> <br/>
        <%= seminar.project %>  
      </span>
    </div><!-- footer -->
  <% end %>
<% end %><!-- seminar -->

