<% seminar_repayment = @seminar.repayment %>  

<%= dm_card title: big_dmicon('euro-sign', text: 'Richiesta di compenso e/o rimborso').html_safe do %>
  <% if @seminar.on_line %>  
    <div class="alert alert-danger">
      <%= dmicon('exclamation-circle') %> La richiesta per seminari che prevedono compenso per un <strong>relatore on-line</strong> dovrà 
      essere approvata dalla Giunta di Dipartimento.<br/> 
      Si invita, prima di inserire una nuova richiesta, a prendere contatto con la Direzione del Dipartimento per verificare la 
      fattibilità dell’iniziativa e rispettare le modalità di predisposizione della pratica.
    </div>
  <% end %>
  <% if seminar_repayment %>
    <% if policy(seminar_repayment).show? %>  
      <div class="text-center">
        <%= link_to 'Mostra informazioni<br/>su compenso e/o rimborso'.html_safe, repayment_path(seminar_repayment), class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
  <% elsif user_too_late_for_repayment?(@seminar) %>
    <div class="alert alert-warning">
      È troppo tardi per richiedere rimborso e/o compenso.<br/> <%= repayment_days_warning(@seminar) %>  
    </div>
  <% elsif policy(@seminar).edit?  %>
    <div class="alert alert-info">
      È possibile richiedere compenso e/o rimborso. <br/> <%= repayment_days_warning(@seminar) %><br/>
      Per richedere il compenso e/o rimborso le verranno chieste le seguenti cose:
      <ul>
        <li style="list-style-type: circle"><strong>curriculum vitae</strong> del conferenziere;</li>
        <li style="list-style-type: circle"><strong>eccezionali ragioni</strong> di particolare qualificazione, abilità e conoscenze possedute dal conferenziere che 
          motivano la deroga alla procedura comparativa pubblica con assegnazione diretta dell’incarico;</li>
        <li style="list-style-type: circle"><strong>dati anagrafici</strong> e <strong>residenza</strong> del conferenziere.</li>
      </ul>
    </div>
    <div class="text-center">
      <%= link_to 'Richiedi compenso e/o rimborso', new_seminar_repayment_path(@seminar), class: 'btn btn-primary btn-lg' %>  
    </div>
  <% end %>
<% end %>

