<h2>Modalità di svolgimento</h2>

<div class="alert alert-info">
  Nel caso di seminari <strong>on line</strong> è possibile inserire l'indirizzo della stanza oppure permettere all'applicativo di creare 
  una stanza su Zoom con tutti i dati del seminario. <br/>
</div>

<%= dm_form_for @seminar, title: "È possibile seguire il seminario:" do |s| %>  
  <%= s.dm_error_notification %>  

  <div data-controller="where">
    <div class="my-4 border-bottom border-info">
      <%= s.input :in_presence, as: :boolean, label: '', input_html: { 'data-where-target': 'in_presence' } %>
      <div data-where-target="in_presence_details" class="my-3">
        <%= s.association :place, collection: current_organization.places.all, include_blank: false, input_html: { 'data-where-target': 'place_selector' } %>
        <div data-where-target="place_description">
          <%= s.input :place_description, label: '' %> 
        </div>
      </div>
    </div>

    <div class="my-4 border-bottom border-info">
      <%= s.input :on_line, as: :boolean, label: '', input_html: { 'data-where-target': 'on_line' } %>  

      <div data-where-target="on_line_details" class="ms-3 my-3">
        <%# <%= s.input :meeting_visible %1> %>  
        <% if zm = @seminar.zoom_meeting %>  
          <%= render Zoom::ZoomComponent.new(zm) %>
        <% else %>
          <div id="manual_seminar_div">
            Istruzioni per collegarsi online:
            <%= s.input :meeting_url %>  
            <%= s.input :meeting_code %> 
            Oppure è possibile far creare all'applicativo il seminario su Zoom.
          </div>
          <%= s.input :zoom_meeting_create, as: :boolean, label: '' %>  
          <div id="zoom_auto_div" class="font-weight-light font-italic ms-3">
            <%= image_tag 'ZoomLogo.png', width: 80 %> <br/>
            <span class="text-warning">Nota:</span>
            nella riunione creata automaticamente su zoom verrà abilitata l'opzione di sicurezza "sala di attesa" (waiting room).
          </div>
        <% end %>
      </div>
    </div>

    <div class="my-4">
      <%= s.input :speaker_on_line, as: :boolean, label: '' %>
    </div>

    <%= s.submit 'Salva', class: '' %> - <%= link_to_back root_path %>  
  </div>
<% end %>
