<div class="alert alert-info">
  Nel caso di seminari <strong>on line</strong> è possibile inserire l'indirizzo della stanza.
</div>

<%= dm_form_for @seminar, title: "Come è possibile seguire il seminario:" do |s| %>  
  <%= s.dm_error_notification %>  

  <div data-controller="where">
    <div class="my-4 border-bottom border-info">
      <%= s.input :in_presence, as: :boolean, label: '', input_html: { 'data-where-target': 'in_presence' } %>
      <div data-where-target="in_presence_details" class="my-3">
        <%= s.association :place, collection: current_organization.places.all, include_blank: false, input_html: { 'data-where-target': 'place_selector' } %>
        <div data-where-target="place_description">
          <%= s.input :place_description, label: '' %> 
        </div>
      </div>
    </div>

    <div class="my-4 border-bottom border-info">
      <%= s.input :on_line, as: :boolean, label: '', input_html: { 'data-where-target': 'on_line' } %>  
      <div data-where-target="on_line_details" class="ms-3 my-3">
        <%# <%= s.input :meeting_visible %1> %>  
        <div class="text-center my-3 fw-bold text-primary">
          Istruzioni opzionali per collegarsi online:
        </div>
        <%= s.input :meeting_url %>  
        <%= s.input :meeting_code %> 
      </div>
    </div>

    <div class="my-4">
      <%= s.input :speaker_on_line, as: :boolean, label: '' %>
    </div>

    <%= s.submit 'Salva', class: '' %> - <%= link_to_back root_path %>  
  </div>
<% end %>
