<h2>Luogo di svolgimento</h2>

<%= dm_form_for @seminar, title: "Dove si tiene il seminario?" do |s| %>  
  <%= s.dm_error_notification %>  
  <%= s.input :on_line, class: 'mt-3' %>  
  <div id="on_line_seminar">
    <% if zm = @seminar.zoom_meeting %>  
      Il seminario si terrà nella stanza Zoom (con id <%= zm.id %>).<br/>
      Per collegarsi i partecipanti dovranno usare l'indirizzo <%= link_to 'join_url', zm.join_url %>. <br/>
      Consigliamo di ricevere le iscrizioni tramite questa applicazione e comunicare il link agli iscritti sono il giorno del seminario.<br/>
      Potete seguire le iscrizioni a questa <%= link_to 'pagina', seminar_registrations_path(@seminar) %>.<br/>
      Per verificare i dati collegarsi al sito <%= link_to 'Zoom meetings unibo', 'https://unibo.zoom.us/meeting' %>. 
    <% else %>
      <div class="alert alert-info">
        Nel caso di seminari <strong>on line</strong> è possibile inserire l'indirizzo della stanza oppure permettere all'applicativo creare automaticamente 
        una stanza su Zoom con tutti i dati del seminario. <br/>
        Per i seminari on line vengono automaticamente abilitate le <strong>iscrizioni</strong> tramite questo applicativo. 
        Prima del seminario potrete inviare una mail a tutti gli iscritti per informarli dell'indirizzo con cui accedere al seminario.
      </div>
      <%= s.input :meeting_visible %>  
      <%= s.input :meeting_url %>  
      <%= s.input :meeting_code %>  
      <%= s.submit 'Salva', class: 'mt-3' %>  
      <div style="text-align: center; font-size: 120%" class="mt-3"> 
        <div class="my-3">--- <strong>oppure</strong> ---</div>
        <%= image_pack_tag 'ZoomLogo.png', width: 120 %> <%= link_to 'Crea automaticamente un meeting su Zoom', seminar_zoom_create_path(@seminar), class: 'btn btn-primary ml-5' %>  
      </div>
    <% end %>
  </div>
  <div id="in_presence_seminar">
    <%= s.association :place, collection: current_organization.places.all, include_blank: false %>
    <%= s.input :place_description, input_html: { cols: 50, rows: 2 } %> 
    <%= s.submit 'Salva', class: 'mt-3' %>  
  </div>
<% end %>

<%= javascript_tag do %>  
  function toggle_on_line (onLineBool, on_line_seminar_div, in_presence_seminar_div) {
    if (onLineBool.checked) {
      on_line_seminar_div.style.display = 'block';
      in_presence_seminar_div.style.display = 'none';
    } else {
      on_line_seminar_div.style.display = 'none';
      in_presence_seminar_div.style.display = 'block';
    }
  };

  const onLineBool = document.querySelector("#seminar_on_line");
  const on_line_seminar_div = document.querySelector("#on_line_seminar");
  const in_presence_seminar_div = document.querySelector("#in_presence_seminar");

  toggle_on_line(onLineBool, on_line_seminar_div, in_presence_seminar_div);

  onLineBool.addEventListener('change', function() { 
    console.log(onLineBool.checked);
    toggle_on_line(onLineBool, on_line_seminar_div, in_presence_seminar_div);
  });
<% end %>
