<div>
  Il seminario si terrà nella stanza Zoom (con id <%= zoom_meeting.id %>).<br/>
  Per collegarsi i partecipanti dovranno usare l'indirizzo <%= link_to 'join_url', zoom_meeting.join_url %>.<br/>
  Consigliamo di ricevere le iscrizioni tramite questa applicazione e comunicare il link agli iscritti sono il giorno del seminario.<br/>
  Potete seguire le iscrizioni a questa <%= link_to 'pagina', seminar_registrations_path(zoom_meeting.seminar) %>.<br/>
  Per verificare i dati collegarsi al sito <%= link_to 'Zoom meetings unibo', 'https://unibo.zoom.us/meeting' %>.<br/>
  Per modificare in seguito i dati del seminario dovrete operare in questa pagina <strong>E</strong> sulla pagina di 
  Zoom <%= link_to 'Zoom meetings unibo', 'https://unibo.zoom.us/meeting' %>.
</div>

