<h1>Inserisci nuovo seminario <br/>
    <small>del <%= current_organization.description %></small>
</h1>

<div class="choose_type_body">
  <div class="choose_type_item">
    <h2>Singolo seminario</h2>
    <div class="mt-3 float-end">
      <%= link_to dm_icon("plus-circle", text: "Inserisci singolo seminario"), new_seminar_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="choose_type_item">
    <h2>Seminario in un ciclo</h2>
    <% if @cycles.empty? %>  
      <div class="alert alert-warning">Non sono al momento presenti cicli di seminari da te organizzati presso <br/><%= current_organization.description %>.</div>
    <% end %>

    <% @cycles.each do |cycle| %>  
      <div class="my-1">
        <%= link_to cycle.to_s.upcase , new_cycle_seminar_path(cycle), class: 'btn btn-outline-primary m-1', style: 'width: 100%' %>
      </div>
    <% end %>

    <div class="mt-3 float-end">
      <%= link_to dm_icon("plus-circle", text: "Crea un nuovo ciclo di seminari"), new_cycle_path, class: 'btn btn-primary' %>
      </div>
  </div>

  <div class="choose_type_item">
    <h2>Seminario in un convegno</h2>
    <% if @conferences.empty? %>  
      <div class="alert alert-warning">Non sono al momento presenti convegni da te organizzati presso <br/><%= current_organization.description %>.</div>
    <% end %>

    <% @conferences.each do |conference| %>  
      <div class="my-1">
        <%= link_to conference.to_s.upcase , new_conference_seminar_path(conference), class: 'btn btn-outline-primary m-1', style: 'width: 100%' %>
      </div>
    <% end %>

    <div class="mt-3 float-end">
      <%= link_to dm_icon("plus-circle", text: "Crea un nuovo convegno"), new_conference_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="choose_type_item">
    <h2>Seminario in una serie</h2>
    <% @serials.each do |serial| %>  
      <div class="my-1">
        <%= link_to serial.to_s.upcase , new_serial_seminar_path(serial), class: 'btn btn-outline-primary m-1', style: 'width: 100%' %>
      </div>
    <% end %>

    <% if policy(current_organization).manage? %>  
      <%= link_to 'nuova serie', new_serial_path, class: 'btn btn-primary my-3' %>  
      <%= link_to 'tutte le serie', serials_path, class: 'btn btn-primary my-3' %>  
    <% else %>
      <div class="alert alert-info mt-3">
        Per far inserire una <strong>nuova serie</strong> si prega di inviare la richiesta all'amministrazione.
      </div>
    <% end %>
  </div>
</div>
