<% if (! @what) || (@what == 'main') %>  
  <%= render 'form' %>
<% end %>

<% if (! @what) || (@what == 'where') %>  
  <%= render 'where' %>  
<% end %>

<% unless @what %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'seminar_documents_form' %>
    </div>
    <div class="col-md-6">
      <%= render 'seminar_repayment_button' %>  
    </div>
  </div>
<% end %>

<% if policy(@seminar).destroy? %>
  <div class="text-end">
    <%= button_to mail_text_seminar_path(@seminar), method: :get, form: { class: "btn btn-warning my-4" } do %>
      <%= dm_icon('envelope', text: "PREPARA EMAIL", fw: true) %>
    <% end %>
    <div class="btn btn-danger my-4">
      <%= link_to_delete 'Cancella il seminario', seminar_path(@seminar) %>
    </div>
  </div>
<% end %>
