<% if (! @what) || (@what == 'main') %>  
  <%= render 'form' %>
<% end %>

<% if (! @what) || (@what == 'where') %>  
  <%= render 'where' %>  
<% end %>

<div style="text-align: center">
  <%= link_to 'prepara email', mail_text_seminar_path(@seminar), class: 'btn btn-lg btn-warning my-3' %>  
</div>

<% unless @what %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'seminar_documents_form' %>
    </div>
    <div class="col-md-6">
      <%= render 'seminar_repayment_button' %>  
    </div>
  </div>
<% end %>
