<h1><%= @title %></h1>

<% if user_signed_in? %>
  <div class="home-filters">
    <% if params[:only_current_user] %>
      <%= link_to dmicon('list', text: "prossimi seminari"), root_path, class: 'btn btn-outline-primary' %> 
    <% else %>
      <%= link_to dmicon('list', text: "seminari inseriti da me"), user_seminars_path, class: 'btn btn-outline-primary' %> 
    <% end %>
    <%= link_to dmicon('list', text: "seminari sui miei fondi"), funds_seminars_path, class: 'btn btn-outline-primary' %> 
  </div>
<% end %>

<%# Only first seminar in conference %>
<% conferences = [] %>
<% @seminars.each do |seminar| %>  
  <% if seminar.in_conference? %>  
    <% unless conferences.include?(seminar.conference_id) %>  
      <%= render seminar.conference %>  
      <% conferences << seminar.conference_id %>  
    <% end %>
    <% last_seminar_in_conference = seminar.id %>  
  <% else %>
    <%= render seminar %>  
  <% end %>
<% end %>

