<h1><%= @title %></h1>

<% if user_signed_in? %>
  <p class="actions">
    <% if params[:only_current_user] %>
      <%= link_to icon('list') + " prossimi seminari", root_path, class: 'btn btn-outline-primary' %> 
    <% else %>
      <%= link_to icon('list') + " seminari inseriti da me", user_seminars_path, class: 'btn btn-outline-primary' %> 
    <% end %>
    <%= link_to icon('list') + " seminari sui miei fondi", funds_seminars_path, class: 'btn btn-outline-primary' %> 
  </p>
<% end %>

<% @seminars.each do |seminar| %>  
  <%= render seminar %>  
<% end %>

