<h2><%= @title %></h2>

<% if user_signed_in? %>
  <p class="actions">
    <%= link_to icon('plus') + ' inserisci seminario', choose_type_seminars_path %> &mdash; 
    <% if params[:only_current_user] %>
      <%= link_to icon('list') + " tutti i prossimi seminari", root_path %> 
    <% else %>
      <%= link_to icon('list') + " seminari inseriti da #{current_user}", user_seminars_path %> 
    <% end %>
  </p>
<% end %>

<% @seminars.each do |seminar| %>  
  <%= render seminar %>  
<% end %>

