<h1>Scegliere se inviare avviso del seminario</h1>

<p class="alert alert-info">
Nella pagina successiva sarà possibile compilare la richiesta di <strong>compenso</strong> e/o <strong>rimborso</strong>.
</p>

<%= horizontal_form_for :seminar_mail, url: submit_mail_text_seminar_path(@seminar) do |f| %>  
  <%= f.input :to, label: "Destinatari", input_html: { value: "dipmat-seminari@unibo.it" }, 
                   hint: "dipmat-seminari@unibo.it comprende docenti, dottorandi, borsisti e coloro che fanno richiesta per essere inseriti. Inserire eventuali altri destinatari separati da virgola." %>  

  <%= f.input :subject, label: "Subject", input_html: { value: "AVVISO DI SEMINARIO" } %>

  <%= f.input :text, as: 'text', input_html: { value: "
    #{l @seminar.date, format: :seminar} 
    aula: #{@seminar.place_to_s}

    #{@seminar.speaker}

    terrà un seminario dal titolo

    #{@seminar.title}

    organizzato da: #{@seminar.committee}

    https://www.dm.unibo.it/seminari/
    ", rows: "20", cols: "20" }  %>

    <%= f.submit "Invia avviso via e-mail" %> -
    <%= link_to "Salta invio e-mail", new_seminar_repayment_path(@seminar) %>  
<% end %>
