<div class="page-header">
  <div style="">
    <div class="page-header-intro">
      <%= link_to "Seminari del Dipartimento di Matematica", root_path %><br/>
      <span style="font-size: 90%">
        <a href="https://www.unibo.it">Università di Bologna</a>
      </span>
    </div>

    <% @seminars.each do |seminar| %>
      <h1 class="page-title bg-secondary text-black py-4">
        <%= seminar.title %>
      </h1>
    <% end %>

    <h2 class="page-speaker container">
      <span style="font-size: 70%; font-style: italic; padding-right: 5px">
        seminario tenuto da <br/>
      </span>
      <%= @seminars.first.speaker %>  
    </h2>
  </div>
</div>

<% @seminars.each do |seminar| %>
  <div class="container my-3">
    <div class="row">
      <div class="col-md-4 text-md-end px-3">
        <%= render DayTagComponent.new(seminar) %>  
      </div> <!-- notes -->
      <div class="col-md-8 page-details px-3">
        <%= render ArgumentsTagComponent.new(seminar) %>
        <%= render HourTagComponent.new(seminar) %>  
        <%= render WhereTagComponent.new(seminar) %>  
        <%= seminar_link_tag seminar %>  
        <div class="page-notes">
          <% if seminar.serial_id %>
            <div>
              <span style="font-size: 80%; font-style: italic">nell'ambito della serie:</span> 
              <%= link_to seminar.serial.to_s.upcase, serial_path(seminar.serial_id) %>
            </div>
          <% end %>
          <% if seminar.cycle_id %>
            <div>
              <span style="font-size: 80%; font-style: italic">nel ciclo di seminari:</span>
              <%= link_to seminar.cycle.to_s.upcase, cycle_path(seminar.cycle_id) %>
            </div>
          <% end %>
        </div>
        <div class="page-abstract">
          <% if seminar.abstract.blank? %>  
            TBA
          <% else %>
            <%= seminar.abstract %>
          <% end %>
        </div>

      </div>
    </div>


    <div class="notes">
      <% if @documents.any? %>  
        <dl>
          <dt>Allegati:</dt>
          <% seminar.documents.each do |document| %>
            <dd><%= document_tag(document) %></dd>
          <% end %>
        </dl>
      <% end %>

      <div class="page-footer">
        <% unless seminar.conference_id %>  
          <span class="committee">
            <hr/>
            <%= t :organized_by %> <%= seminar.committee %> <br/>
            <%= seminar.project %>  
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="centered my-4">
  <%= link_to dm_icon('home', text: 'Torna alla pagina dei seminari del Dipartimento di Matematica di Bologna'), root_path %>  
</div>
