<!DOCTYPE html>
<html>
  <head>
    <title>Seminari del Dipartimento di Matematica</title>
    <meta charset="utf-8">
    <meta name="description" content="Gestione seminari Dipartimento di Matematia. Università di Bologna.">
    <meta name="author" content="Dipartimento di Matematica - Unibo">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style>
      .calendars, .today {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container printable_seminar">
      <div style="text-align: center">
        <h1>
          <%= image_tag('sigillo1.png') %><br/>
          Seminari del Dipartimento di Matematica <br/>
          <small>Università di Bologna</small>
        </h1>
      </div>

      <%= render @seminar %>  

      <div style="text-align: center">
        <%= link_to 'home', root_path %>  
      </div>
    </div>
  </body>
</html>
