<h1>Elenco fondi</h1>

<p class="centered"><%= link_to 'Nuovo fondo', new_fund_path, class: :button %>  </p>

<p>
<% if @all %>  
  <%= link_to 'Mostra solo i fondi <strong>disponibili</strong>.'.html_safe, funds_path %>
<% else %>
  <%= link_to 'Mostra anche i fondi <strong>non disponibili</strong>.'.html_safe, funds_path(all: true) %>
<% end %>
</p>

<% @holders.each do |holder, funds| %>
  <div class="card my-0" style="margin: 7px !important">
    <div class="card-header my-0">
      <%= holder.cn_militar %>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
      <% funds.each do |fund| %>  
        <li class="list-group-item list-group-item <%= "bg-light text-warning" unless fund.available %>  " >
          <%= modal_link_to fund.code, fund_path(fund), addclass: "btn btn-sm py-1 font-weight-bold #{fund.available ? 'btn-info' : 'btn-warning'}" %>  
          - <%= fund.name %>
          (<%= fund.category.name %>)
          <span class="float-right">
            <%= modal_link_to dmicon(:eye), fund_path(fund) %>  
            <%= link_to_edit edit_fund_path(fund) %>
            <%= link_to_delete fund_path(fund) %>
          </span>
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $(".card-header").css('cursor', 'pointer');
    $(".card-body").toggle();
    $(".card-footer").toggle();
    $(".card-header").click(function() {
      // $(this).css('font-weight', 'bold');
      // $(this).next(".dm-card-body").slideToggle();
      $(this).next(".card-body").slideToggle().next(".card-footer").slideToggle();
    });
  });
<% end %>
