<h1>Elenco fondi</h1>

<div class="centered"><%= link_to 'Nuovo fondo', new_fund_path, class: :button %></div>

<div>
  <% if @all %>  
    <%= link_to 'Mostra solo i fondi <strong>disponibili</strong>.'.html_safe, funds_path %>
  <% else %>
    <%= link_to 'Mostra anche i fondi <strong>non disponibili</strong>.'.html_safe, funds_path(all: true) %>
  <% end %>
</div>

<div class="accordion my-4" id="fundAccordion">
  <% @holders.each do |holder, funds| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="holder<%= holder.id %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#funds<%= holder.id %>" aria-expanded="false" aria-controls="funds<%= holder.id %>">
          <%= holder.cn_militar %>
        </button>
      </h2>
      <div id="funds<%= holder.id %>" class="accordion-collapse collapse" aria-labelledby="holder<%= holder.id %>" data-bs-parent="#fundAccordion">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <% funds.each do |fund| %>  
              <li class="list-group-item list-group-item <%= "bg-light text-warning" unless fund.available %>">
                <%= modal_link_to fund.code, fund_path(fund), addclass: "btn btn-sm font-weight-bold #{fund.available ? 'btn-info' : 'btn-warning'}" %>  
                - <%= fund.name %>
                (<%= fund.category.name %>)
                <span class="float-end">
                  <%= modal_link_to dmicon(:eye), fund_path(fund) %>  
                  <%= link_to_edit edit_fund_path(fund) %>
                  <%= link_to_delete fund_path(fund) %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div><!-- accordion-item -->
  <% end %>
</div>

