<div class="movebutton">
  <%= horizontal_form_for @highlight do |highlight| %>  
    <%= highlight.dm_error_notification %>  
    <p>
    <%= highlight.input :proponent, :hint => 'il nome del proponente è visibile solo alla commissione e non viene pubblicato' %>
    <%= highlight.input :name, :input_html => { :size => 40 } %>
    <%= highlight.input :description, :input_html => { :cols => 50, :rows => 3 } %>
    </p>
    <p>
    <%= highlight.association :tags, :as => :check_boxes %> 
    </p>
    <p>
    <%= highlight.input :visible_from, :as => :date_picker %>
    <%= highlight.input :visible_to,   :as => :date_picker %>
    <%= highlight.input :link,         :hint => 'opzionale' %>
    <%= highlight.input :link_text,    :hint => 'opzionale' %> 
    </p>

    <%= highlight.submit :class => 'button' %>  
  <% end %>
</div>
