<div class="highlight">
  <div class="when">
    <% if highlight.visible_from %>
      <div class="date">
        <%= highlight.approved? ? 'pubblicato ' : 'proposto per ' %> <br/>
        <%= l(highlight.visible_from, :format => :highlight_publish) %>
      </div>
    <% end %>
    <div class="tags">
      <% highlight.tags.each do |tag| %>
        <%= tag %> <%= fwicon(tag.icon) %><br/>
      <% end %>
    </div>
  </div>

  <div class="what">
    <div class="title">
      <%= highlight.name %>
    </div>
    <div class="content">
      <div class="description"><%= highlight.description %></div>
      <% if highlight.link != 'http://' %>
        <p><a href="<%= highlight.link %>"><%= icon 'external-link' %>  <%= highlight.link_text.blank? ? highlight.link : highlight.link_text %></a></p>
      <% end %>
    </div>
  </div>
</div>

