<h1>
  <%= t :highlights %>
  <% if params[:only_current_user] %>
    proposte da <%= current_user %>
  <% end %>
</h1>

<% @highlights.each do |highlight| %>  
  <%= render highlight %>
<% end %>

<div class="centered_action">
  <%= link_to t(:new_highlight), new_highlight_path, :class => :button %>  

  <% if user_is_admin? or user_is_commissioner? %>  
    <%= link_to t(:admin_highlights), admin_highlights_path, :class => :button %>
  <% end %>
</div>
