<h1><%= t :highlights %></h1>

<dl class="highlights">
  <% @highlights.each do |highlight| %>  
    <dt><%= highlight.name %> - <%= highlight.description %> 
    <%= link_to('edit', edit_highlight_path(highlight)) if user_owns?(highlight) %>
    <% if ! highlight.voted_by?(current_user) %>  
      - <%= link_to 'vote', new_highlight_approval_path(highlight) %> 
    <% end %>
    </dt>
    <dd>
    <% highlight.approvals.each do |approval| %>  
      <%= approval %> <%= link_to('edit', edit_approval_path(approval)) if user_owns?(approval) %>   
    <% end %>
    </dd>
  <% end %>
</dl>

