<div style="text-align: right">
  <% if @ok_to_send && @repayment.fund_id %>  
    <div class="my-2">
      <%= print_document_button "richiesta", print_request_repayment_path(@repayment, format: :docx) %>
      <%= print_document_button "lettera di incarico", print_letter_repayment_path(@repayment, format: :docx) %>
      <%= print_document_button "decreto", print_decree_repayment_path(@repayment, format: :docx) %>
      <%= print_document_button "proposta compenso / rimborsoa", print_proposal_repayment_path(@repayment, format: :docx) %>
      <%= print_document_button "regolare esecuzione", print_regularity_repayment_path(@repayment, format: :docx) %>
    </div>
    <div>
      <% if @repayment.payment %>
        <%= print_document_button "modulo pagamento", print_repayment_repayment_path(@repayment, format: :docx) %>
      <% end %>
      <%= print_document_button "modulo nota spese", print_refund_repayment_path(@repayment, format: :docx) %>
      <%= print_document_button "dichiarazione altri incarichi", print_other_repayment_path(@repayment, format: :docx) %>
      <% if @repayment.italy %>  
        <%= print_document_button "modulo D", "https://www.dm.unibo.it/seminari/unibo_modules/OccasionaliResidentiModuloD.doc" %>
      <% else %>
        <%= print_document_button " modulo D non residenti", "https://www.dm.unibo.it/seminari/unibo_modules/OccasionaliNonResidentiModuloD.doc" %> 
      <% end %>
    </div>
  <% else %>
    I documenti saranno disponibili solo dopo che tutti i dati richiesti saranno compilati.
  <% end %>
</div>
