<%= render DmUniboCommon::MenuComponent.new(sso_user_upn, current_organization: current_organization) do %>  
  <li><%= link_to dm_icon('home', text: 'Home'), main_app.seminars_path %></li>
  <% if current_organization %>
    <% if user_signed_in? %>  
      <li><%= link_to dm_icon('plus-circle', text: 'Nuovo seminario'), main_app.choose_type_seminars_path %></li>
    <% end %>
    <li><%= link_to dm_icon('list', text: 'Seminari periodici'), main_app.serials_path %></li>
    <li><%= link_to dm_icon('archive', text: 'Archivio'), main_app.archive_seminars_path, data: { turbo: false } %></li>
    <% if current_organization && policy(current_organization).manage? %>
      <%= dropdown_menu :amm, dm_icon('cogs', text: 'Amm.') do  %>
        <li><%= link_to dm_icon('euro-sign', text: 'Compensi'), main_app.repayments_path %></li>
        <li><%= link_to dm_icon('wallet', text: 'Fondi'), main_app.funds_path %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to dm_icon('map-marker', text: 'Luoghi'), main_app.places_path %></li>
        <li><%= link_to dm_icon('comment', text: 'Topics'), main_app.arguments_path %></li>
        <% if current_user_cesia? %>  
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to dm_icon('users', text: 'Auths'), dm_unibo_common.permissions_path %></li>
        <% end %>
      <% end %>
    <% elsif policy(current_organization).read? %>
      <li><%= link_to dm_icon('euro-sign', text: 'Compensi'), main_app.repayments_path %></li>
    <% end %>
  <% end %>
<% end %>
