<%= dm_menu do %>  
  <%= dm_header(dm_header_subtitle: (current_organization ? current_organization.description : '')) %>
  <%= dm_nav do  %>  
    <li><%= link_to big_icon('home', text: 'Home'), root_path %></li>
    <% if user_signed_in? %>  
      <li><%= link_to big_icon('plus-circle', text: 'Inserisci seminario'), choose_type_seminars_path %></li>
    <% end %>
    <li><%= link_to big_icon('list', text: 'Seminari periodici'), serials_path %></li>
    <li><%= link_to big_icon('archive', text: 'Archivio'), archive_seminars_path %></li>
    <% if user_cesia? %>  
      <li><%= link_to big_icon('users', text: 'Auths'), authorizations_path %></li>
    <% end %>
    <% if user_is_manager? %>  
      <%= dropdown_menu :amm, big_icon('cogs', text: ' Amm.') do  %>
        <%= link_to fwicon('euro-sign', text: 'Compensi'), repayments_path %>
        <%= link_to fwicon('wallet', text: 'Fondi'), funds_path %>
        <div class="dropdown-divider"></div>
        <%= link_to fwicon('map-marker', text: 'Luoghi'), places_path %>
        <%= link_to fwicon('comment', text: 'Topics'), arguments_path %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

